<div class="maintenance">
	<p class="title">Updates are being made</p>
	<p>Don't worry, your website is still online and viewable.  You just can't make
	updates for a little bit.</p>
	<p>Service should return shortly. Thanks for your patience!</p>
</div>