<h1>Password</h1>

<form id="password_form">
	<table class="dataform">
		<tr>
			<td>Current password</td>
			<td>
				<input type="password" name="password1" maxlength="255"/>
			</td>
		</tr>
		<tr>
			<td>New password</td>
			<td>
				<input type="password" name="password2" maxlength="255"/>
			</td>
		</tr>
		<tr>
			<td>Confirm</td>
			<td>
				<input type="password" name="password3" maxlength="255"/>
			</td>
		</tr>
		<tr>
			<td></td>
			<td>
				<a id="save_info" href="javascript:void(0)" onclick="Settings.savePassword()">Save</a>
				<span id="saving" class="saving" style="display: none;">Saving...</span>
			</td>
		</tr>
	</table>
</form>

<p id="password_changed" style="display: none;">
	Your password has been updated
</p>