<h3>WHO:</h3>
<p>Craig Hammell.</p>

<h3>WHAT:</h3>
<p>Web design via functional web services.</p>

<h3>WHERE:</h3>
<p>Everywhere.</p>

<h3>WHY:</h3>
<p>It is fun / It [will someday] pay<span style="color: #555;">s</span> the bills / For the sense of accomplishment.</p>

<h3>WHEN:</h3>
<p>24/7</p>

<h3>HOW:</h3>
<p>Modern web technologies.</p>

<h3>WTF IS REISENFOLDE</h3>
<p>Clean lines.</p>