<%= render :partial => "help_navigation" %>

<h1>How do I get started with Google Analytics?</h1>

<p>Simple!  Just follow the following easy steps:</p>

<ol style="margin-bottom: 24px;">
	<li>Create a new <a href="http://analytics.google.com" rel="nofollow">Google Analytics</a> account</li>
	<li>Create a new profile for your website at Google Analytics</li>
	<li>Copy the code that Google Analytics gives you for your website</li>
	<li>Go to "Layout > Javascript" in your update area and paste the code in the big box</li>
	<li>Click save</li>
</ol>

<p>That's it!  You should start seeing stats for your site being recorded within the next day or so.</p>
