<% @title = "Qufoto.com Interview with Benjamin Rasmussen" %>

<center>
    <table cellpadding=0 cellspacing=0 class="featured-image eich">
        <tr>
            <td align=center valign=middle>
                <script type="text/javascript">
                    var r = Math.floor (Math.random () * 5 + 1);
                    document.writeln ('<img id="u1" src="/images/featured/benjamin_rasmussen/0' + r + '.jpg" />');
                </script>
            </td>
        </tr>
    </table>
    <img class="name" src="/images/featured/benjamin_rasmussen/featured.png" />
    <table cellpadding=0 cellspacing=8 class="previews eich">
        <tr>
            <td valign=middle>
                <img src="/images/featured/benjamin_rasmussen/01_small.jpg" onclick="swap(1, 1, 'benjamin_rasmussen')" />
            </td><td valign=middle>
                <img src="/images/featured/benjamin_rasmussen/02_small.jpg" onclick="swap(1, 2, 'benjamin_rasmussen')" />
            </td><td valign=middle>
                <img src="/images/featured/benjamin_rasmussen/03_small.jpg" onclick="swap(1, 3, 'benjamin_rasmussen')" />
            </td><td valign=middle>
                <img src="/images/featured/benjamin_rasmussen/04_small.jpg" onclick="swap(1, 4, 'benjamin_rasmussen')" />
            </td><td valign=middle>
                <img src="/images/featured/benjamin_rasmussen/05_small.jpg" onclick="swap(1, 5, 'benjamin_rasmussen')" />
            </td>
        </tr>
    </table>
    
    <div class="article">
        <p style="float: right; margin: 0 0 0 40px;"><a id="fontsize" href="javascript:toggleFontSize()">+ Increase font size</a></p>
        
        <p class="greyblue"><strong>QF:</strong> Hey Ben.  Can you tell us how you ended up spending your childhood in the Philippines, and what brought you back?</p>
        <p><strong>BR:</strong> My parents moved to the Philippines when I was one-year-old to work in the southern part of the country as missionaries.  My dad is a Bible translator and my mom does medical work.  We lived in a house on stilts on a tiny jungle island--it was all very Swiss Family Robinson-ish.</p>
        <p>I came to work with a street paper called Jeepney Magazine.  It is a glossy that focuses on social issues and advocacy work, sold by unemployed homeless vendors who sell the magazine as a livelihood project.  They sell the magazine for $2, keeping 50% of the profit.  I appreciate that it is a direct way to help the people whose stories we are telling.</p>
        
        <p class="greyblue"><strong>QF:</strong> Why are you a photographer?</p>
        <p><strong>BR:</strong> I hate to be a cliché, but it is because of the film "War Photographer", about James Nachtwey.  I was a sophomore in college and pursuing public relations and marketing, but seeing his work made me realize the tangible difference that photography could make.</p>
        
        <p class="greyblue"><strong>QF:</strong> Where do you think your passion for social justice photography came from?</p>
        <p><strong>BR:</strong> It came from seeing the work of documentary photographers.  The more time I spent in these powerful bodies of images, the more I learned about how similar humans are to each other.  The families in Eugene Richard's "Cocaine True, Cocaine Blue" still played, talked and fought, just like mine did.  They had different struggles and different needs, but we were still the same at the core.  This is the same for the all of Salgado's workers, Nachtwey's war victims, and Pep Bonet's HIV patients.</p>
        <p>When I realized what a powerful influence their photography had on me, I decided that I wanted to be able to reach people in the same way.  I did not pursue photography because I saw it as a way to create or to express myself.  I guess I see it more as a way to bridge the gap between those who were marginalized and oppressed and the people who had the means and the power to make changes.  </p>
        <p>I know that photography will never change the world, but I think that it can influence those who will.</p>
        
        <p class="greyblue"><strong>QF:</strong> What sorts of social issues do you prefer to focus on when you're choosing a story, and how do you come up with ideas for subjects to shoot?</p>
        <p><strong>BR:</strong> The general focus of my stories is the equality of mankind. I think before we can effectively tackle issues such as poverty, war, and human trafficking, we first have to establish that all people are similar.</p>
        <p>This is a new direction for me, though, as most of the work I have done previously has either been for newspapers, or for wedding and commercial clients.  This time in Manila is exciting, but also frightening and challenging, because it is the first time that I am really putting my values to the test.</p>
        
        <p class="greyblue"><strong>QF:</strong> Can you tell us about the people you were photographing in your "A Broad Creed" essay?  Was it difficult gaining access?</p>
        <p><strong>BR:</strong> "A Broad Creed" is a long-term project focusing on human variation in modern Christianity.  The title refers to the "Apostles Creed", widely accepted as the most basic and important of Christian dogma.   It is a way of investigating how different groups take the same statement of faith and interpret it through completely different worldviews, norms and actions.</p>
        <p>The first section investigates white supremacist groups in the Ozarks.  They have Bible verses that they use to support everything that they believe--they even view the Confederate flag as an Abrahamic symbol.  They are an example of how a peaceful religion can be used to promote violence and intolerance.</p>
        <p>I am looking into Catholic traditions in the Philippines, as I continue to work on it this year.</p>
        
        <p class="greyblue"><strong>QF:</strong> You have done a lot of shooting abroad.  Do you ever use a translator?</p>
        <p><strong>BR:</strong> I almost always have someone with me functioning as an interpreter if I don't know the language. That said, it never ceases to amaze me how much you can communicate with someone even if you can not speak the same language. </p>

		<p class="greyblue"><strong>QF:</strong> Do you have a favorite country where you enjoy shooting?  If so, which would it be, and why?</p>
        <p><strong>BR:</strong> The Philippines for the people and the Faroe Islands for the light.</p>
		
        <p class="greyblue"><strong>QF:</strong> Have you ever found yourself in an especially dangerous or horrible situation while shooting?</p>
        <p><strong>BR:</strong> Nothing so far.  Upper class Filipinos give a lot of warnings about parts of the city to stay away from, but people are much friendlier to me in the slums than in the building where I live.</p>
    	
    	<p class="greyblue"><strong>QF:</strong> Can you tell me about any of the interesting characters you've met or relationships you've developed as a direct result of being a documentary photographer?</p>
        <p><strong>BR:</strong> I have met so many great people.  I am working on a story right now about the integration of street families into Filipino society and have been hanging out with a guy named, no kidding, Fidel A. Castro.  He scavenges through trash 12 hours a day to bring home around $4, but he insists on buying me drinks and food whenever we are together.  He speaks about 20 words of English and I know about the same amount of Tagalog.  Once every half hour he will turn to me and say, "You, me, best friend." Then I give him a thumbs up and we laugh and keep walking.</p>
    </div>
    
    <table cellpadding=0 cellspacing=0 class="featured-image eich">
        <tr>
            <td align=center valign=middle>
                <script type="text/javascript">
                    var r = Math.floor (Math.random () * 5 + 6);
                    if (r < 10) r = '0' + r;
                    document.writeln ('<img id="u2" src="/images/featured/benjamin_rasmussen/' + r + '.jpg" />');
                </script>
            </td>
        </tr>
    </table>
    <table cellpadding=0 cellspacing=8 class="previews eich">
        <tr>
            <td valign=middle>
                <img src="/images/featured/benjamin_rasmussen/06_small.jpg" onclick="swap(2, 6, 'benjamin_rasmussen')" />
            </td><td valign=middle>
                <img src="/images/featured/benjamin_rasmussen/07_small.jpg" onclick="swap(2, 7, 'benjamin_rasmussen')" />
            </td><td valign=middle>
                <img src="/images/featured/benjamin_rasmussen/08_small.jpg" onclick="swap(2, 8, 'benjamin_rasmussen')" />
            </td><td valign=middle>
                <img src="/images/featured/benjamin_rasmussen/09_small.jpg" onclick="swap(2, 9, 'benjamin_rasmussen')" />
            </td><td valign=middle>
                <img src="/images/featured/benjamin_rasmussen/10_small.jpg" onclick="swap(2, 10, 'benjamin_rasmussen')" />
            </td>
        </tr>
    </table>
        
    <div class="article">
        <p class="greyblue"><strong>QF:</strong> Tell us about your blog <a href="http://copyandcutline.com">copyandcutline.com</a>.  How did it begin and where is it going?</p>
        <p><strong>BR:</strong> Copy and Cutline grew out of a blog that my wife Abby and I started right after we got married.  We moved away from the U.S. two weeks after our wedding and wanted a way for our friends and family to keep up with us.</p>
        <p>With Abby being a writer and I a photographer, we decided to shift the focus of the blog from updates to using it as a way to share what we were learning about the cultures in which we were living.  We are trying to use it as a way to talk about the people, food, music and art of the places we are interacting with.</p>
        
        <p class="greyblue"><strong>QF:</strong> What did you study during your college years in Arkansas?  Do you think it's important for aspiring photographers to go through a university photography program?</p>
        <p><strong>BR:</strong> I majored in journalism, which I feel was really important as a foundation for the work that I am doing now.  I also took a couple of photography courses, which didn't make that large of an impact.  Photography is so hands-on that there is not that much a person can learn from lecture after lecture.</p>
        <p>I do think that it is vital to find a community of other photographers who challenge you and inspire you to grow.  Some people might find that in classes, but today there are great communities online that you can access.  Aphotoaday.com has influenced my photography more than the classes I took.  It allows you to see the works in progress of great photographers and also gives a way to have others critique your work.</p>
        
        <p class="greyblue"><strong>QF:</strong> I get the feeling that a lot of the work on your website was shot on film.  Am I crazy?</p>
        <p><strong>BR:</strong> No, most of the work is digital.  But since so much of the work that has been really inspiring to me was shot on film, I spent a lot of time trying to develop a processing workflow that had the same aesthetic.</p>
        
        <p class="greyblue"><strong>QF:</strong> Can you tell us about your time in the Faroe Islands?  What brought you there and what projects did you work on?</p>
        <p><strong>BR:</strong> My dad is originally from the Faroe Islands, so I moved back there last year to spend some time getting to know the language, culture and my family there.  I worked most of the time doing wedding and commercial photography, which was both challenging and unfulfilling.</p>
		<p>The main project I started while I was there was "A Soul Meets the Sea" which explores the connection that the Faroese have to the ocean.  The Faroe Islands is a nation built on fishing, but the harsh north Atlantic has been swallowing their fishermen for centuries.  This dichotomy of the sea giving both life and death influences their culture, traditions and religion.</p>
        
        <p class="greyblue"><strong>QF:</strong> Do you currently have any big projects underway?</p>
        <p><strong>BR:</strong> I am starting a project in January that will look at the shared humanity between the Moro Islamic Liberation Front (MILF) fighters and the Armed Forces of the Philippine soldiers in the southern part of the country.  The MILF is a separatist group fighting for an autonomous state on the island of Mindanao and are largely thought of as a terrorist organization.  Peace talks have recently broken down and skirmishes are starting up again between the MILF and army forces.</p>
        <p>The goal of the story is to show these are real people involved, putting faces and personalities with the numbers of casualties that people read about in the newspaper.  Hopefully, it can spark thought and conversation and put more pressure towards pursuing negotiations.</p>
        
        <p class="greyblue"><strong>QF:</strong> What other individuals do you respect in photojournalism today, and why do they get your appreciation?</p>
        <p><strong>BR:</strong> In college the work that influenced me most was the reportage of Sebastiao Salgado, Eugene Richards, Larry Burrows and Antonin Kratochvil.</p>
        <p>But recently it is the work being done by my contemporaries that is not just inspiring, but also challenging me.  Seeing people my age producing powerful work really pushes me to break through the mindset of, "I could do that, but I just need more experience first."</p>
        <p>Matt Eich's story, "Carry Me Ohio", Dominic Nahr's work from Palestine, Mikhael Subotzky's "Beaufort West", Michael Rubenstein's work in India, Justin Mott's work in Vietnam and Veejay Villafrancas work in the Phillippines are some great examples.</p>
        
        <p class="greyblue"><strong>QF:</strong> What advice do you have for other young photographers getting started in the industry?</p>
        <p><strong>BR:</strong> Find out where you struggle and surround yourself with people who are great at it.  For me, it was my ability to connect with my subjects.  I am a little bit of an awkward guy - a result of the growing up in the jungle thing.  So it is really hard for me to approach subjects and even harder to break down the barrier between us.</p>
		<p>Being a photographer is all about constantly putting yourself into situations that challenge your abilities, allows you to fail and forces you to grow.</p>

		<p class="greyblue"><strong>QF:</strong> Is there anything else you'd like to share with us?</p>
		<p><strong>BR:</strong> I realize that I am still inexperienced.  So, I think the wisest thing that I have to share is actually something that I heard Pep Bonet say, which has become a sort of motto for me in the work that I am doing this year.  He said that, "You can find beauty in suffering by approaching those in pain with beauty in your heart."</p>

        <img src="/images/featured/benjamin_rasmussen/photographer.jpg" style="margin: 20px 0; border: 7px solid #222;" />
        <p class="italic" style="width: 465px;">
			Benjamin Rasmussen is a freelance photographer based in Manila, Philippines, with a passion for social justice photography. He spent his childhood with an indigenous people group on an island in the southern Philippines, his university years with evangelicals in a small town in northern Arkansas, and the past year with the descendants of vikings in the Faroe Islands, a nation of 45,000 residents in the middle of the North Atlantic.
		</p>
		<p class="italic" style="width: 465px;">
			Currently in a city of 16 million, there are more people living on his block than resided in the past three places he lived combined. His blog can be found at <a href="http://copyandcutline.com">copyandcutline.com</a>.
		</p>
    </div>
    
</center>

<p style="text-align: center;"><a href="http://benjaminrasmussenphoto.com">See more of Ben's work or contact him ></a></p>

<hr style="clear: both;">

<p class="darkgrey italic">Images &copy; Benjamin Rasmussen, 2008<br>Article &copy; Qufoto.com, 2008</p>
<p style="text-align: center;"><a href="/featured">< Back to Featured Photographers</a></p>

