<h2>Canceling Your Qufoto Subscription</h2>

To cancel your current Qufoto subscription (either Lite or Pro), click the cancel button below.
Your subscription can also be cancelled from within your PayPal account, or simply by request
using our Contact page.  Thanks for using Qufoto!
<br><br>

<center>
    <!-- PayPal generated -->
    <A HREF="https://www.paypal.com/cgi-bin/webscr?cmd=_subscr-find&alias=cilphex%40gmail%2ecom">
        <IMG SRC="http://qufoto.com/images/cancel.png" BORDER="0" style="width: 241px; height: 32px;">
    </A>
    <!-- /PayPal -->
</center>