<% @title = "Qufoto.com Interview with Charlie Mahoney" %>

<center>
    <table cellpadding=0 cellspacing=0 class="featured-image eich">
        <tr>
            <td align=center valign=middle>
                <script type="text/javascript">
                    var r = Math.floor (Math.random () * 5 + 1);
                    document.writeln ('<img id="u1" src="/images/featured/charlie_mahoney/0' + r + '.jpg" />');
                </script>
            </td>
        </tr>
    </table>
    <img class="name" src="/images/featured/charlie_mahoney/featured.png" />
    <table cellpadding=0 cellspacing=8 class="previews eich">
        <tr>
            <td valign=middle>
                <img src="/images/featured/charlie_mahoney/01_small.jpg" onclick="swap(1, 1, 'charlie_mahoney')" />
            </td><td valign=middle>
                <img src="/images/featured/charlie_mahoney/02_small.jpg" onclick="swap(1, 2, 'charlie_mahoney')" />
            </td><td valign=middle>
                <img src="/images/featured/charlie_mahoney/03_small.jpg" onclick="swap(1, 3, 'charlie_mahoney')" />
            </td><td valign=middle>
                <img src="/images/featured/charlie_mahoney/04_small.jpg" onclick="swap(1, 4, 'charlie_mahoney')" />
            </td><td valign=middle>
                <img src="/images/featured/charlie_mahoney/05_small.jpg" onclick="swap(1, 5, 'charlie_mahoney')" />
            </td>
        </tr>
    </table>
    
    <div class="article">
        <p style="float: right;"><a id="fontsize" href="javascript:toggleFontSize()">+ Increase font size</a></p>
        
        <p class="greyblue"><strong>QF:</strong> Hey Charlie.  Where are you based?</p>
        <p><strong>CM:</strong> I'm based in Barcelona, Spain.</p>
        
        <p class="greyblue"><strong>QF:</strong>  Were you born and raised in Spain?</p>
        <p><strong>CM:</strong> No, I was born in the US. Ending up in Spain is a long story, but the short version is that after working many years in investment banking, I decided to take a year sabatical. I went to Spain because I thought it would be a great way to live in Europe and learn Spanish. The idea was that while on sabatical I would think about what I wanted to do next professionally. As you can see I never left and eventually found my way to photography.</p>
        
        <p class="greyblue"><strong>QF:</strong> How do you feel living in Barcelona has effected your photography?</p>
        <p><strong>CM:</strong> I'm not sure how the city itself has effected my photography, but there are some wonderful photographers with whom I have studied who are from here like Paco Elvira and Tino Sorriano. I think they've influenced my photography even more so than the city of Barcelona.</p>
        
        <p class="greyblue"><strong>QF:</strong> Why are you a photographer?</p>
        <p><strong>CM:</strong> I became a photographer because I love the way photography connects you with the rest of the world in a very direct manner through your subjects. This is not something that came easily to me, because I am not extroverted by nature, but the camera allows me to get in to other people's lives in a way that wouldn't be possible otherwise. The extension of that is that makes me feel really connected with the world we live in.</p>
        
        <p class="greyblue"><strong>QF:</strong> What inspired you to make the transition from investment banking and equity management to photography?</p>
        <p><strong>CM:</strong> Investment banking and management have some very attractive elements to it. The excitement of the trading environment, the organized chaos and the emotional ride are all very addictive aspects of the business. There is also a very intensive intellectual side as one must constantly analyze business models of companies in diverse industries like technology, science and medicine and I thoroughly enjoyed that. The downside is that people in the industry become accustomed to making a lot of money and lose touch with their values and that aspect of the business turned me off. In the end I left because I found that many of my good friends had become chained to a lifestyle that was only possible if you worked yourself in to the ground. Life is too short, so I walked away.</p>
            
        <p class="greyblue"><strong>QF:</strong> In the "Rebelion Insurgente" project you photographed in Mexico City, you seem to be quite close with your subjects.  As an outsider from Europe, how did you go about making contacts and gaining the trust of the people you were photographing?</p>
        <p><strong>CM:</strong> First of all, in order to be a photographer one has to overcome their fear of approaching subjects. People can be intimidating, but most people actually enjoy having their photos taken and the Mexico City story was no excepcion. When you think about it, these adolescents are dressing up in order to get attention, so appealing to their ego wasn't very difficult. The first thing I did was find out where they hang out. Then I showed up and just started taking pictures of them. Some smiled, some flipped me off, but either way once I had their attention, I could start a conversation with them. Once I won them over, it was cake.</p>

		<p class="greyblue"><strong>QF:</strong> Can you share what it was like working on your project, "Living in the Shadows"?  How did the project get started and how did you find your subjects?</p>
        <p><strong>CM:</strong> Actually I'm still working on Living in the Shadows as it is a long term project for me. The idea came from simple curiousity. About two years ago, I started to notice increasing numbers of migrants, especially Africans, pushing shopping carts around the city. I didn't understand exactly what they were doing, whether they were combing the trash for unused items or looking for food.</p>
		<p>I started to research the story and found that most of the African migrants I was seeing were flown to Barcelona from the Canary Islands by the Spanish government. Typically illegal immigrants are immediately repatriated, but I found that for a wide array of reasons, most of these people fell through the cracks in the system. Most had spent 40 days in detention centers, but once there 40 days are up, if the government can't determine their country of origin they release them. The problem of course, is that they release without a residency or a work permit and are thus left in a legal limbo, where they can't work legally, can't afford normal housing and thus have to struggle to survive.</p>
        <p>Approaching the subjects took time and perseverance and at times it was very difficult. Some people had no problem being photographed and others did. As long as I respected their desires, there were no problems. Over time they got to know me and felt comfortable around me. Sometimes too much so. I would show up and they would want to share dinner or tea with me and chat. The amazing thing is that despite the conditions they live in, they are always considerate and cordial to me.</p>
        
        <p class="greyblue"><strong>QF:</strong> Do you think there is anything special about your style that separates you from the way most mainstream photojournalists are shooting today?</p>
        <p><strong>CM:</strong> That's a tough question. Certainly style will separate photographers from others and I do feel that I am developing my own style, but I couldn't explain what it is. My attitude is that one should shoot the material they want and in the manner that they want to. It's important to be true to yourself and sometimes we, as photographers, worry too much about what the magazines or the editors want. In the end it may cost you clients, but being true to yourself is what defines you as a person and a photographer.</p>
    </div>
    
    <table cellpadding=0 cellspacing=0 class="featured-image eich">
        <tr>
            <td align=center valign=middle>
                <script type="text/javascript">
                    var r = Math.floor (Math.random () * 5 + 6);
                    if (r < 10) r = '0' + r;
                    document.writeln ('<img id="u2" src="/images/featured/charlie_mahoney/' + r + '.jpg" />');
                </script>
            </td>
        </tr>
    </table>
    <table cellpadding=0 cellspacing=8 class="previews eich">
        <tr>
            <td valign=middle>
                <img src="/images/featured/charlie_mahoney/06_small.jpg" onclick="swap(2, 6, 'charlie_mahoney')" />
            </td><td valign=middle>
                <img src="/images/featured/charlie_mahoney/07_small.jpg" onclick="swap(2, 7, 'charlie_mahoney')" />
            </td><td valign=middle>
                <img src="/images/featured/charlie_mahoney/08_small.jpg" onclick="swap(2, 8, 'charlie_mahoney')" />
            </td><td valign=middle>
                <img src="/images/featured/charlie_mahoney/09_small.jpg" onclick="swap(2, 9, 'charlie_mahoney')" />
            </td><!--<td valign=middle>
                <img src="/images/featured/charlie_mahoney/10_small.jpg" onclick="swap(2, 10, 'charlie_mahoney')" />
            </td>-->
        </tr>
    </table>
        
    <div class="article">
        <p class="greyblue"><strong>QF:</strong> Do you think it's important for aspiring photographers to go through a university photography program?  How do you feel about the time you spent studying at the University Autónoma of Barcelona?</p>
        <p><strong>CM:</strong> My experience at the University Autónoma of Barcelona was overall a very positive experience, but doing a Masters is not for everyone. There are many great photographers who are self taught. In my case I wanted to change professions and my timing was perfect as photographers around the world were also transitioning from film to digital. Considering my circumstances, it was the best way for me to learn what I needed to know in a very short period of time.</p>
        
        <p class="greyblue"><strong>QF:</strong> Can you tell me about any of the interesting characters you've met or relationships you've developed as a direct result of being a photojournalist?</p>
        <p><strong>CM:</strong> One of the first characters I ever met was an 11 year old skate rat in Belfast, Maine. It was a gorgeous summer day in this pristine New England town and I came across this skate park. I approached some of the adolescents that were skating around the park, but they were at that awkward age where they lack confidence and were easily embarassed. After trying to take some interesting pictures of them for about a half hour, I was just about to put the camera away when this tiny, shirtless kid in big baggy jeans showed up. He walked up to one of the older kids and said "give me that" and just took the bigger kid's skateboard. For the next two hours I photographed him while he completely ripped up the skate board park, sometimes jumping ten feet in the air. To me the contrast was amazing: this cocky 11 year old kid vs. several akward, bigger teenagers.  I told him I would email him some of the images and he said "I want a poster size one with my name shooting out in big letter behind me!"  What a character he was.</p>
        
        <p class="greyblue"><strong>QF:</strong> Have you ever found yourself in an especially dangerous situation while shooting?  If so, what happened?</p>
        <p><strong>CM:</strong> No never. I was asked to leave one of the abandoned houses where I was shooting the migrants once. In this case there was poor communication as the subjects I was shooting asked me how much money I could make selling a photograph. I said that if it were lucky enough to get published, depending on the size of the image could be around 50 euros. They all of sudden started arguing among each other and asked me to leave. I found out later, they thought I was making 50 euros every time I snapped the shutter. Since it was the third day in a row that I had been there, they must have figured I had made a small fortune and enough was enough.</p>
        
        <p class="greyblue"><strong>QF:</strong> What do you think has been key to your success as a photojournalist?</p>
        <p><strong>CM:</strong> I think like any profession, the key ingredients for success are persistence, working harder than others and a little luck. Of course, you have to have an eye for photography and I think some of that is innate.</p>
        
        <p class="greyblue"><strong>QF:</strong> Do you currently have any big projects underway?</p>
        <p><strong>CM:</strong> Yes, I do. I hope to be going to San Francisco soon to cover the beginnings of a trans Pacific expedition. I'm also going to India. Plus, I'm still working on Living in the Shadows and Ancestral Calling, which are both long term projects for me.</p>
        
        <p class="greyblue"><strong>QF:</strong> What other individuals do you respect in photojournalism today, and why do they get your appreciation?</p>
        <p><strong>CM:</strong> There are so many photographers that I like, either for their style or the way they approach their work. Style wise my personal favorites are Francesco Zizola and Pep Bonet, because they mix color and sound black and white photography tecniques to make really powerfully dramatic images. There are other photographers I love because they find great stories or get access to really difficult stories. I'd place Eugene Richards at the top of that list.</p>
        
        <p class="greyblue"><strong>QF:</strong> The journalism and editorial industry is rapidly changing as print media is shifting to online.  In a time when it's becoming increasingly difficult for newspaper and magazine photographers to survive, what advice do you have for young photographers just getting started?</p>
        <p><strong>CM:</strong> I think we are at a crossroads in this profession. Simply put there is a glut of photographers, so there will likely be a shakeout in the not to distant future. In my opinion photojournalism is about getting stories out to the public, so you simpy have to accept the economic realities of the profession and do it because you love it and then learn to live within your means.</p>
        
        <p class="greyblue"><strong>QF:</strong> Do you personally do any story telling with multimedia/sound?</p>
        <p><strong>CM:</strong> I haven't published any multmedia pieces, but I do have a recorder and for any big stories I always record audio. That being said, I always ask editors and agency reps about multimedia when I see them and I am still waiting for someone to say that there are any financial benefits for doing multi-media at this time. I think that will change in the future as newspapers and magazines figure out how they want to use photography and audio content, but for now the media is treating it as a throw in.</p>

		<p class="greyblue"><strong>QF:</strong> Is there anything else you'd like to share with us?</p>
		<p><strong>CM:</strong> One thing. Thanks for helping out photographers like myself by highlighting them on your site.</p>

        <img src="/images/featured/charlie_mahoney/photographer.jpg" style="margin: 20px 0; border: 7px solid #222;" />
        <p class="italic" style="width: 465px;">
			Charlie is an award winning photographer based in Barcelona, Spain. He is available for assignment anywhere in the world and is a contributing photographer for World Picture News (WpN).
		</p>
		<p class="italic" style="width: 465px;">
			Charlie especially likes to work on stories of human interest and has experience working in remote locations like the Balkans, Africa and Latin America. He strongly believes that photojournalism can bring about change by functioning as a witness and giving a voice to people who are powerless to tell their own stories.
		</p>
    </div>
    
</center>

<p style="text-align: center;"><a href="http://charliemahoney.net">See more of Charlie's work or contact him ></a></p>

<hr style="clear: both;">

<p class="darkgrey italic">Images &copy; Charlie Mahoney, 2008<br>Article &copy; Qufoto.com, 2008</p>
<p style="text-align: center;"><a href="/featured">< Back to Featured Photographers</a></p>

