<% @title = "Qufoto.com Interview with Charles Pertwee" %>

<center>
    <table cellpadding=0 cellspacing=0 class="featured-image eich">
        <tr>
            <td align=center valign=middle>
                <script type="text/javascript">
                    var r = Math.floor (Math.random () * 5 + 1);
                    document.writeln ('<img id="u1" src="/images/featured/charles_pertwee/0' + r + '.jpg" />');
                </script>
            </td>
        </tr>
    </table>
    <img class="name" src="/images/featured/charles_pertwee/featured.png" />
    <table cellpadding=0 cellspacing=8 class="previews eich">
        <tr>
            <td valign=middle>
                <img src="/images/featured/charles_pertwee/01_small.jpg" onclick="swap(1, 1, 'charles_pertwee')" />
            </td><td valign=middle>
                <img src="/images/featured/charles_pertwee/02_small.jpg" onclick="swap(1, 2, 'charles_pertwee')" />
            </td><td valign=middle>
                <img src="/images/featured/charles_pertwee/03_small.jpg" onclick="swap(1, 3, 'charles_pertwee')" />
            </td><td valign=middle>
                <img src="/images/featured/charles_pertwee/04_small.jpg" onclick="swap(1, 4, 'charles_pertwee')" />
            </td><td valign=middle>
                <img src="/images/featured/charles_pertwee/05_small.jpg" onclick="swap(1, 5, 'charles_pertwee')" />
            </td>
        </tr>
    </table>
    
    <div class="article">
        <p style="float: right; margin: 0 0 0 40px;"><a id="fontsize" href="javascript:toggleFontSize()">+ Increase font size</a></p>
        
        <p class="greyblue"><strong>QF:</strong> Hey Charles.  Can you tell us what brought you to Singapore?</p>
        <p><strong>CP:</strong> Love.</p>
        <p>I met a girl here in a bar while taking a break from covering the Tsunami and its aftermath in Aceh. I was based in Tokyo at the time. After a year or so of long distance I moved down to Singapore. We are now married with a beautiful 2-year-old girl. (I have since left Reuters and am back freelancing again.)</p>
        
        <p class="greyblue"><strong>QF:</strong> After earning a degree in history, what led you to pursue a photography career?</p>
        <p><strong>CP:</strong> I honestly have to say I fell into photography. I read many photographers’ biographies on their websites and they speak of coming out of their womb with a camera or getting a box brownie for their 6th birthday and the rest is history. Me, I love to surf and climb, and while I was at university in London I would go on trips out of the city or abroad to Europe, Morocco, etc. to feed my passions. This cost money though, so to try and fund these trips a little, I would write about them and try to sell the stories to magazines. But they would need photos, so I started doing that also. I enjoyed the photography side of it far more than the writing side, so I ended up just shooting.</p>
        
        <p class="greyblue"><strong>QF:</strong> Has most of your documentary work been shot as a freelancer, or have you worked for newspapers?</p>
        <p><strong>CP:</strong> I have always been freelance. I have never been on staff at a newspaper or a magazine. I have shot for many different newspapers and wire services but always on a freelance basis.</p>
        
        <p class="greyblue"><strong>QF:</strong> Can you tell us what a typical day working as a photojournalist in Singapore is like?</p>
        <p><strong>CP:</strong> Thats a hard one, because there is no typical day really.</p>
        
        <p class="greyblue"><strong>QF:</strong> What do you love most about your job?</p>
        <p><strong>CP:</strong> Of course I love making pictures. But I also love the travel, getting to see new places, new environments, learning about new things and working on different stories all the time.</p>
        
        <p class="greyblue"><strong>QF:</strong> What is the most challenging situation you’ve found yourself photographing in?</p>
        <p><strong>CP:</strong> Challenging? Physically challenging was my assignment up to Everest base camp. Even base camp is above 5500m. There is only one way there and that is on foot. The altitude and the hard trekking just make it utterly exhausting - and you have to keep your wits about you and keep shooting.</p>
		<p>Challenging in a different sense of the word - Afghanistan because of the security. The only way to see certain parts of the country in relative safety (and I stress the word relative) is with the military.  It is very restrictive and far from ideal, unless you are doing a story on the military of course.</p>

		<p class="greyblue"><strong>QF:</strong> What do you think has been key to your success as a photojournalist?</p>
        <p><strong>CP:</strong> I guess that would depend on your definition of success. I am very fortunate that I have been able to make a decent living in this industry, and as long as I never have to put on a suit, go into an office and sit at a desk on a daily basis, I am successful.</p>
		<p>I think the most important thing to remember is that this is a job, a profession. I make sure that if I have been assigned to shoot something I do my homework and go into that situation prepared. I give one hundred percent to fulfill the brief AND try to surpass that brief and all expectations. Photo editors are busy, busy people, so I make sure my images are properly toned and captioned. I don't expect anyone to have to do my dust spotting, or have to ask for more info about a picture.</p>
		<p>It’s simple. There is a lot of competition out there, so the more trouble free your relationship with a photo editor is, the better.</p>
		
        <p class="greyblue"><strong>QF:</strong> Can you tell us about your experience shooting the aftermath of the 2005 Kashmir Earthquake in Pakistan?</p>
        <p><strong>CP:</strong> That was just the most incredibly destructive year of natural disasters - the tsunami at the end of 2004, Katrina, then the Kashmir quake. I had spent the end of December 2004 and the first two months of 2005 covering the Tsunami and its aftermath in Thailand and Indonesia. Aceh for me was a life changing experience; it was death and destruction on an epic scale. It was also a media scrum on an epic scale. So when Kashmir struck, I was hesitant to go, even though I had my agency asking if I was going and work was available. Although I like the camaraderie of seeing friends/colleagues from other parts of the world when there are big news events like that happening, the working conditions are not so great. Too many photographers, too many TV crews.</p>
    	<p>But of course attention shifts relatively quickly. By December 2005, winter was approaching and it felt like a good time to go and take a look. My curiosity got the better of me. The terrain is far more rugged than Aceh - far more mountainous and inaccessible. If there were roads into some of the mountain areas that had been badly hit, they would have been no more than dirt roads and they were wiped out. As winter was on its way, the pressure was on to supply the more remote locations with the essentials for the winter. There was no more press around, so I was able to jump on UN helicopters to get into the mountain areas pretty much whenever I wanted. Red Cross teams throughout the country were very welcoming and gave me lodging.</p>
		<p>I spent a lot of time in the mountains and high valleys. I even spent a lovely Christmas with some Spanish Red Cross workers in a Pak army base outside Balakot in the North-West Frontier Province. But, ironically, one of the more poignant stories, for me, was a short walk from my hotel in Islamabad. There was an old, disused cinema which had been firebombed by extremists sometime before. This was now being used as a ward for women who had sustained spinal injuries during the quake. As you can imagine the people in the mountains of Pakistan are very conservative. At the time the quake struck, just before 9am local time, the women would have been indoors doing chores. A natural reaction to an earthquake would have been to crouch down and huddle up. So as the mud walls of the houses came down many women sustained very similar injuries to the spine. This old cinema was full of rows of beds with women, aged 13 and up, who will basically never walk again. There were probably 50 or more in this one building, spread over 2 floors.</p>
		<p>In a very mountainous, rural area in a very conservative society one can only imagine that life will be very, very hard for them. They represent the long legacy of disasters of this nature.</p>
		
    </div>
    
    <table cellpadding=0 cellspacing=0 class="featured-image eich">
        <tr>
            <td align=center valign=middle>
                <script type="text/javascript">
                    var r = Math.floor (Math.random () * 5 + 6);
                    if (r < 10) r = '0' + r;
                    document.writeln ('<img id="u2" src="/images/featured/charles_pertwee/' + r + '.jpg" />');
                </script>
            </td>
        </tr>
    </table>
    <table cellpadding=0 cellspacing=8 class="previews eich">
        <tr>
            <td valign=middle>
                <img src="/images/featured/charles_pertwee/06_small.jpg" onclick="swap(2, 6, 'charles_pertwee')" />
            </td><td valign=middle>
                <img src="/images/featured/charles_pertwee/07_small.jpg" onclick="swap(2, 7, 'charles_pertwee')" />
            </td><td valign=middle>
                <img src="/images/featured/charles_pertwee/08_small.jpg" onclick="swap(2, 8, 'charles_pertwee')" />
            </td><td valign=middle>
                <img src="/images/featured/charles_pertwee/09_small.jpg" onclick="swap(2, 9, 'charles_pertwee')" />
            </td><td valign=middle>
                <img src="/images/featured/charles_pertwee/10_small.jpg" onclick="swap(2, 10, 'charles_pertwee')" />
            </td>
        </tr>
    </table>
        
    <div class="article">
		<p class="greyblue"><strong>QF:</strong> You’ve done a lot of shooting across Asia.  Do you ever use a translator?</p>
		<p><strong>CP:</strong> I do use translators quite a lot when there is a budget for one. I say translator, but I actually mean a fixer or a guide - someone who knows their way around and is a second set of eyes, a second brain, as well as being fluent in the language. Other times, when there is no budget, I have to wing it and do a lot of smiling and gesturing, along with a few phrases from a phrase book. It’s definitely harder work, but it can have unexpected benefits also.</p>
    
        <p class="greyblue"><strong>QF:</strong> Can you tell us about any interesting characters you’ve met or relationships you’ve developed as a direct result of being a photojournalist?</p>
        <p><strong>CP:</strong> One man I will always remember is the late Wais Faizi (http://www.waisfaizi.org). He was the Don of the Mustafa Hotel in Kabul. Every bizarre character - mercenaries, adventurers, warlords, gangsters, journalists, aid workers - all passed through the Mustafa and the infamous bar at some point and Wais was the man who knew them all. He was the king fixer, a Pashtun warrior with the biggest heart. Usually armed, he somehow managed to keep the place from getting blown up, despite the fact that it stood on a busy crossroads and the frontage was almost completely glass. Wais knew everyone and his diplomatic skills and connections kept the place safe - so safe that many NGOs lodged their workers there despite the lack of blast walls and barbed wire.</p>
        <p>He came to visit his girlfriend in Singapore in December 2006. We had coffee, he returned to Kabul, and three days later he was dead. I don't think to this day anyone really knows how. I have him on my Skype contacts list; I know his icon will never go green (online) again, but I don't delete it.</p>
        
        <p class="greyblue"><strong>QF:</strong> How do you think the current economic crisis will (or will not) affect the photography industry?  Have you been personally affected?</p>
        <p><strong>CP:</strong> I have been personally affected. One of my corporate clients is a large hotel group. The senior marketing person I used to deal with was one of the first people I personally knew who got axed. And this person had won a prestigious industry award just weeks before they were axed!</p>
        <p>An editor in chief from a large magazine group I worked closely with has also gone. Again, very, very good at his job, but someone who stuck out; the proverbial nail that had to be hammered down.</p>
        <p>As to how it will affect the photography industry – WPN (World Picture News) has just closed its assignment desk, more magazines will fold, more newspapers also, any business is going to be affected in some way. But photographers have been facing these pressures forever, and yet there seem to be plenty of us around. Photographers are pretty resourceful, and I don't think any of us ever expected to get rich doing what we do.</p>
		
        <p class="greyblue"><strong>QF:</strong> Do you have any secrets about the business that you can share with us?</p>
        <p><strong>CP:</strong> If I had any secrets they would definitely remain just that - secret! It’s basically like anything else - a bit of talent, a whole bunch of hard work, and some luck. As I mentioned, we don't have to wear a suit and go sit at a desk everyday! Fantastic!</p>
        
        <p class="greyblue"><strong>QF:</strong> What other individuals do you respect in photojournalism today, and why do they get your appreciation?</p>
        <p><strong>CP:</strong> Balazs Gardi, Christoph Bangert, James Whitlow Delano - amazing, distinctive, relevant, important work and great, humble, lovely people. Paolo Pellegrin, Jan Grarup, Joachim Ladefoged, Erik Refner leap to mind also - totally mind altering work. Daido Moriyama, amazing Japanese photographer, not so much a photojournalist, more a street photographer, but doing stuff thirty years ago that looks modern today.</p>
        
        <p class="greyblue"><strong>QF:</strong> Do you currently have any big projects underway?</p>
        <p><strong>CP:</strong> Yes, I have one underway on the Mekong. In my mind’s eye it’s a book project at the moment - a bit broad, a bit indulgent, no deep reason for it, it’s just fun to do.</p>
        <p>Also trying to do some interesting work on the recession here in Singapore. Early on there was a real feeling that everything was going to be fine here, and now it is one of the worst hit places in Asia, depending on what you read. This might bring about some much needed change to the political system here, it might not. The same party has been in power for over 40 years on the promise of ever increasing prosperity for the people. Singaporeans in general have accepted this deal with the ruling party, but now that they are getting hit in the wallet things may change.</p>
        
        <img src="/images/featured/charles_pertwee/photographer.png" style="margin: 20px 0; border: 7px solid #222;" />
        <p class="italic" style="width: 465px;">
			Charles Pertwee, known for his reportage work in crisis stricken locations such as Banda Aceh and Afghanistan, is equally comfortable in the studio as he is on the road.
		</p>
		<p class="italic" style="width: 465px;">
			He graduated from the School of Oriental and African Studies in London with a degree in the History of East Asia and fell into photography soon after graduation. He has since worked for such diverse clients as The New York Times, Wired, CNN Traveller, Marie Claire, Universal Music and Nike. 
		</p>
		<p class="italic" style="width: 465px;">
			Pertwee, who is half Japanese and half English, is currently based in Singapore with his wife and baby daughter
    	</p>
	</div>
    
</center>

<p style="text-align: center;"><a href="http://pertwee.com">See more of Charles' work or contact him ></a></p>

<hr style="clear: both;">

<p class="darkgrey italic">Images &copy; Charles Pertwee, 2009<br>Article &copy; Qufoto.com, 2008</p>
<p style="text-align: center;"><a href="/featured">< Back to Featured Photographers</a></p>

