<%= render :partial => "help_navigation" %>

<h1>How to redirect a domain to your Qufoto account</h1>
<p>Redirecting a domain that you already own to a Qufoto account is a very simple process.
All that needs to be done is the updating of a few values associated with the domain that you
would like to redirect.  These values control where your domain points, and are called 
"nameservers."
</p>

<p>Updating the nameservers associated with your domain can be done either through a control
panel or through the customer service of the registrar that currently hosts your domain.  If you
do use a control panel to maintain your domain or current website, simply log in and find the 
option to modify the nameservers.  If you're using a customer service, contact them.  In either 
case, use the following values:
</p>

<p>
    <ul style="margin-bottom: 24px;">
        <li>ns1.qufoto.com</li>
        <li>ns2.qufoto.com</li>
    </ul>
</p>

<p>If there is not enough space for three values, just use them in that order.  Once the 
nameservers are changed for your domain, the domain should be redirected to your Qufoto website 
within 24 hours.  (It takes a little time for the change to propagate through the internet.)
</p>

<h4>Important: Email addresses</h4>
</p>If there are email addresses based on the domain that is being redirected, additional steps
need to be taken to preserve these addresses.  Because the domain is changing from using one
set of servers to another set, any email addresses based on that domain will stop being functional
and will need to be re-established to handle the change.  Please <a href="/contact">contact us</a>
if there are any email addresses you would like to continue to use.</p>


<!-- Google Analytics, multimedia -->