<% @title = "Qufoto.com Interview with Ed Freeman" %>

<center>
    <table cellpadding=0 cellspacing=0 class="featured-image eich">
        <tr>
            <td align=center valign=middle>
                <script type="text/javascript">
                    var r = Math.floor (Math.random () * 5 + 1);
                    document.writeln ('<img id="u1" src="/images/featured/ed_freeman/0' + r + '.jpg" />');
                </script>
            </td>
        </tr>
    </table>
    <img class="name" src="/images/featured/ed_freeman/featured.png" />
    <table cellpadding=0 cellspacing=8 class="previews eich">
        <tr>
            <td valign=middle>
                <img src="/images/featured/ed_freeman/01_small.jpg" onclick="swap(1, 1, 'ed_freeman')" />
            </td><td valign=middle>
                <img src="/images/featured/ed_freeman/02_small.jpg" onclick="swap(1, 2, 'ed_freeman')" />
            </td><td valign=middle>
                <img src="/images/featured/ed_freeman/03_small.jpg" onclick="swap(1, 3, 'ed_freeman')" />
            </td><td valign=middle>
                <img src="/images/featured/ed_freeman/04_small.jpg" onclick="swap(1, 4, 'ed_freeman')" />
            </td><td valign=middle>
                <img src="/images/featured/ed_freeman/05_small.jpg" onclick="swap(1, 5, 'ed_freeman')" />
            </td>
        </tr>
    </table>
    
    <div class="article">
        <p style="float: right;"><a id="fontsize" href="javascript:toggleFontSize()">+ Increase font size</a></p>
        
        <p class="greyblue"><strong>QF:</strong> Hey Ed.  Let's start with an easy one.  Where are you based?</p>
        <p><strong>EF:</strong> Los Angeles.</p>
        
        <p class="greyblue"><strong>QF:</strong>  What made you decide to change careers and become a photographer?</p>
        <p><strong>EF:</strong> I just sort of fell into it. I'd been taking pictures since I was ten, and it was always a sideline, but I spent the first twenty-five years of my working life as a musician. Eventually, my musical interests became very experimental and avant-garde and I couldn't earn a living making music like that. So I started shooting professionally - headshots at first - and gradually became completely caught up in it, to the point where it's now my main interest and music is a sideline.</p>
        
        <p class="greyblue"><strong>QF:</strong> How would you describe the type of photography you do?  What do you think sets you apart from most other photographers?</p>
        <p><strong>EF:</strong> I'm not particularly concerned with reporting on the world the way it is. There are lots of people out there who are doing that far better than I ever could. I approach photography as if it were painting; my pictures are about the way I want the world to be. I take photographs just like everybody else, but Photoshop manipulation is an integral part of my workflow and really the creative center around which everything else revolves. It's hard to pigeon-hole me because I work simultaneously in a variety of styles - so many, in fact, that I've had to put up two different websites to cover them all. But what everything I do has in common is computer manipulation - sometimes subtle, sometimes massive.</p>
        
        <p class="greyblue"><strong>QF:</strong> Your landscape images are very detailed and almost surreal.  Would you mind explaining what special techniques you like to use (such as compositing, zone system, or HDR) to achieve such a wide variety of tones?</p>
        <p><strong>EF:</strong> I don't use any special tricks. Don't use Zone System, although it's always in the back of my mind, no lens filters apart from an occasional polarizer, don't use HDR, no third party plug-ins and no Photoshop filters at all other than Gaussian Blur and Noise. No cutting edge processes - nothing you wouldn't learn in any basic Photoshop class. It's all a result of very simple, standard photographic techniques and a endless detail work in the computer. I just work really fast, so I can do a lot of it. Some of the panoramas are stitched together, but others are shot with a panoramic camera. I do a lot of masking and compositing and retouching but actually I'm quite old-fashioned when it comes to technique - if it's possible to be old-fashioned in Photoshop!</p>
        
        <p class="greyblue"><strong>QF:</strong> Many photographers of your generation have had a hard time adjusting to the digital photography revolution and are wary of using Photoshop.  As someone who has really embraced digital manipulation, what advice would you give to people who are reluctant to make the transition?  What was the transition like for you?</p>
        <p><strong>EF:</strong> Actually, I think older photographers like me are MORE open to digital imaging and manipulation than younger ones, because we've spent a lifetime hassling with the limitations of film and we're tired of it! The switch poses a bit of a challenge for people who are set in their ways - a class or two at a local community college might help. But it's really not that scary; if you can figure out a cel phone, you can understand digital. And for a little work, the payoff is enormous.</p>
		<p>I must say, however, that being familiar with wet process imaging is a huge advantage when you shoot digital, and I think any photography student should learn his or her way around a darkroom - before abandoning it forever!</p>
            
        <p class="greyblue"><strong>QF:</strong> Do you think it's absolutely necessary to "go digital" nowadays?</p>
        <p><strong>EF:</strong> Absolutely not. There is still plenty of room for traditional, and even alternative processes. Digital doesn't replace analog photography any more than electric guitars replace acoustic ones. I made the switch and I'm happy that I did, but I know plenty of people who didn't and they're just as happy where they are. In commercial photography, digital is pretty much the way of the world these days. But fine art? - could be either one, take your pick; they're very, very different processes, and they each produce very different results.</p>

		<p class="greyblue"><strong>QF:</strong> Could you share a bit about your books "Desert Realty" and "Work"?  How did you go about getting your books published?</p>
        <p><strong>EF:</strong> I was approached by a German publisher, Bruno Gm&#252;nder, to do a book of male nudes because I used to get published a lot in the gay press; the book became sort of a cult classic and has gone through a couple of printings. Almost every picture in it has been reproduced other places, some of them dozens of times - on posters, magazine covers, greeting cards, coffee mugs, jigsaw puzzles - you name it.</p>
		<p>Desert Realty was quite another story. I'd spent years driving through the desert country near Los Angeles, photographing abandoned and decaying buildings and cleaning them up in Photoshop. It turned into a cohesive body of work that sold quite well as individual prints, and I thought it could be turned into a book. I approached a couple of publishers, and Los Angeles Times Books gave me a deal. Three weeks after the book came out, they went out of business, and Desert Realty sank without a trace. Recently it's been republished by Chronicle books and it's had a lot of coverage in photo magazines; we'll see if that translates into sales. I have a sequel to Desert Realty ready to go - it's called Urban Realty. I'll get around to shopping that sooner or later.</p>
        
        <p class="greyblue"><strong>QF:</strong> Studying French and Russian in college seem to have had little connection to your adult career in the music (and now photography) industry.  Do you think it's important for aspiring photographers to go through a university photography program?</p>
        <p><strong>EF:</strong> I think it makes sense for most people to take some photography classes - no point wasting your time reinventing the wheel. I never did study formally, because I started so young and was so old before I turned professional, but it would have saved me a lot of time if I had. I also think it's important to have something else going on in your life, some other art form - music, dance, drawing, poetry - almost anything. That way you bring a unique perspective to your image-making. Ansel Adams was a pianist; Cartier-Bresson was a painter, Sebastiao Salgado was an economist. For me it's music, and an endless fascination with languages.</p>
    </div>
    
    <table cellpadding=0 cellspacing=0 class="featured-image eich">
        <tr>
            <td align=center valign=middle>
                <script type="text/javascript">
                    var r = Math.floor (Math.random () * 5 + 6);
                    if (r < 10) r = '0' + r;
                    document.writeln ('<img id="u2" src="/images/featured/ed_freeman/' + r + '.jpg" />');
                </script>
            </td>
        </tr>
    </table>
    <table cellpadding=0 cellspacing=8 class="previews eich">
        <tr>
            <td valign=middle>
                <img src="/images/featured/ed_freeman/06_small.jpg" onclick="swap(2, 6, 'ed_freeman')" />
            </td><td valign=middle>
                <img src="/images/featured/ed_freeman/07_small.jpg" onclick="swap(2, 7, 'ed_freeman')" />
            </td><td valign=middle>
                <img src="/images/featured/ed_freeman/08_small.jpg" onclick="swap(2, 8, 'ed_freeman')" />
            </td><td valign=middle>
                <img src="/images/featured/ed_freeman/09_small.jpg" onclick="swap(2, 9, 'ed_freeman')" />
            </td><td valign=middle>
                <img src="/images/featured/ed_freeman/10_small.jpg" onclick="swap(2, 10, 'ed_freeman')" />
            </td>
        </tr>
    </table>
        
    <div class="article">
        <p class="greyblue"><strong>QF:</strong> Do you have a favorite country where you enjoy shooting?  Which would it be, and why?</p>
        <p><strong>EF:</strong> Iceland is gorgeous; The Peruvian Andes are breath-taking; Southern Spain is magnificent; China is intriguing; India is exotic; Paris is, well, Paris. But for sheer variety and natural beauty, nothing beats the United States. It's so huge, it has just about everything you could ask for.</p>
        
        <p class="greyblue"><strong>QF:</strong> What's the worst thing that has ever happened to you during a shoot?</p>
        <p><strong>EF:</strong> Well, there was the time I dropped an expensive panoramic camera off a hundred foot cliff in Death Valley, and then the time I was held hostage by a bunch of thugs in Borneo, and of course the time I almost got buried by an avalanche in Iceland, not to mention nearly freezing to death in Egypt or getting heatstroke in Myanmar, but mostly, I've led a charmed life - in fact, the worst incident was when a CF card in my camera went bad in Thailand with a whole mess of really good pictures on it - I still kick myself about that one!</p>
        
        <p class="greyblue"><strong>QF:</strong> Can you explain some of the ideas/inspiration behind your "constructions"?  How much time do you typically spend creating a "construction"?</p>
        <p><strong>EF:</strong> Again, it's all about idealizing the subject matter. Half the pictures in that portfolio are completely real - except for a lot of retouching. The others are composites - anywhere between two and ten different pictures put together. I probably spend at least an hour or two retouching a simple photograph; the composites take anywhere from a couple of hours to ten or more. And every time I publish or print a picture, I can't resist doing a few additional tweaks.</p>
        
        <p class="greyblue"><strong>QF:</strong> What do you think has been key to your success as a fine art photographer?</p>
        <p><strong>EF:</strong> Well, the most important reason is simply that I'm incredibly blessed; for reasons I do not understand, my life has led me in the direction of learning and improvement and success, in spite of my best efforts to screw everything up! One of my best virtues is that I am very bad at following directions, so all the books that tell you how to do things the "right" way have no effect on me. In fact, the only thing I'm good at doing is what I feel like doing, and it's my good fortune that what I feel like doing tends to produce pictures people like.</p>
        
        <p class="greyblue"><strong>QF:</strong> Do you currently have any big projects underway?</p>
        <p><strong>EF:</strong> Right now, I'm shooting what I hope will be a book of underwater nudes, and I'm completely fascinated by the difficulties and possibilities of photographing in such an otherworldly environment. I'm also finishing up a book of surfing photography, which forced me to spend long hours on the beach in Hawaii - sheer torture, for sure, but I'm willing to suffer for my art! I also have some gallery, and hopefully, museum shows coming up.</p>
        
        <p class="greyblue"><strong>QF:</strong> What other individuals do you respect in photojournalism today, and why do they get your appreciation?</p>
        <p><strong>EF:</strong> Edward Weston, Sebastiao Salgado, Andreas Gursky, Richard Avedon, James Nachtwey - there are hundreds, and they come from all over the photographic spectrum. What impresses me about all of them is that they are uncompromising in their vision, and so masterful at communicating it that their own personalities come across as powerfully as their subject matter.</p>
        
        <p class="greyblue"><strong>QF:</strong> What advice do you have for other young photographers getting started in the industry?</p>
        <p><strong>EF:</strong> Don't give up. Read up on the history of photography. Take a painting class. Listen to a lot of Beethoven (especially if you don't like him; sooner or later, you will). Take some classes. Make lots of friends. Network like crazy. Spend time alone in the woods (leave your camera at home). Meditate. Pray. Don't give up. Go to museums and galleries. Photograph the same thing a thousand times over till you get it right. Fall in love. Travel. Do yoga. Learn to play a musical instrument. Get a day job. Don't give up.</p>
        
        <p class="greyblue"><strong>QF:</strong> Is there anything else you'd like to share with us?</p>
        <p><strong>EF:</strong> All photography is in part self-portraiture; what's in back of the camera is just as important as what's in front of it. If you want to make better pictures, work on becoming a better person. In the end, that's what we're all here to do.</p>

        <img src="/images/featured/ed_freeman/photographer.jpg" style="margin: 20px 0; border: 7px solid #222;" />
        <p class="italic" style="width: 465px;">
			Since 1990, Ed has been concentrating on his great love, photography.  Getty Images carries an extensive collection of his landscape and travel pictures from fifty countries. His wide-ranging commercial work - from portraiture to still life, architectural and people - has been showcased on scores of magazine covers, editorials, posters, advertisements and books. His Photoshop expertise has been the subject of dozens of articles and is featured in his two books, "Desert Realty" and "Work."
		</p>
    </div>
    
</center>

<p style="text-align: center;"><a href="http://edfreemanphotography.com">See more of Ed's work or contact him ></a></p>

<hr style="clear: both;">

<p class="darkgrey italic">Images &copy; Ed Freeman, 2008<br>Article &copy; Qufoto.com, 2008</p>
<p style="text-align: center;"><a href="/featured">< Back to Featured Photographers</a></p>

