<h1>Frequently asked questions</h1>

<h2>1. <a href="#" onclick="$('faq1').toggle ();">I already own a domain.  Can I use it with your service?</a></h2>
<div id="faq1" style="display: none; padding: 0 0 0 20px;">
    <p>Yes!  You will need to be able to edit some settings for your domain, either on your own through
    a control panel, or through the customer service of the registrar that runs your domain, but it's a pretty
    simple process.  Once the settings are changed, your domain should be working with Qufoto in 24 hours
    or less.  Just let us know what your domain is before you subscribe, and we'll give you some simple
    directions on what to do.
    </p>
    <p>For more detailed information on what you'll need to do when you sign up, see our help document on
    <a href="/domains">redirecting domains</a>.
    </p>
</div>

<h2>2. <a href="#" onclick="$('faq6').toggle ();">Do you provide hosting?</a></h2>
<div id="faq6" style="display: none; padding: 0 0 0 20px;">
    <p>Yep, all Qufoto sites are hosted with us.  And there is no additional montly or yearly
    charge&mdash;it's just part of your subscription price.
    </p>
</div>

<h2>3. <a href="#" onclick="$('faq2').toggle ();">Can I add video to my website?</a></h2>
<div id="faq2" style="display: none; padding: 0 0 0 20px;">
    <p>Nope.  At this time Qufoto websites do not support embedded video.  Pro subscriptions <i>do</i> allow for the
    ability to create multimedia slideshows, which are a combination of images
    and audio synchronized by you to create a photojournalistic presentation.  Pro subscriptions also
    support the ability to add up to three custom links to the menu, so that you can link to an 
    outside website or blog that displays your videos.
    </p>
</div>

<h2>4. <a href="#" onclick="$('faq3').toggle ();">Can I upgrade from Lite to Pro at any time?</a></h2>
<div id="faq3" style="display: none; padding: 0 0 0 20px;">
    <p>Yes!  To do this, you will just need to let us know that this is what you would like to do, then
    cancel your Lite subscription and start a Pro subscription.  Your Qufoto website will continue to operate
    as usual while you make the switch.  When you're all set, all we do is flip a switch in the back and voila!
    You've been upgraded.
    </p>
</div>

<h2>5. <a href="#" onclick="$('faq4').toggle ();">Does Qufoto have ----?</a></h2>
<div id="faq4" style="display: none; padding: 0 0 0 20px;">
    <p>Qufoto websites are primarly meant for presentation purposes.  Here are a list of things that we
    <i>don't</i> support:
    </p>
    <ul style="margin-bottom: 24px;">
        <li>Shopping carts</li>
        <li>FTP</li>
    </ul>
    <p>Some Pro subscribers choose to create online stores for their work at other websites and link to them 
    via an additional menu option.
    </p>
</div>

<h2>6. <a href="#" onclick="$('faq5').toggle ();">How long do I have to subscribe for?</a></h2>
<div id="faq5" style="display: none; padding: 0 0 0 20px;">
    <p>All subscriptions run on a month-to-month basis.  You can cancel at any time, either through PayPal on
    your own, or by asking us to cancel your subscription.  Your Qufoto website will stay online until one 
    month after your last payment.
    </p>
</div>

<h2>7. <a href="#" onclick="$('faq7').toggle ();">Can I use Qufoto for things besides photography?</a></h2>
<div id="faq7" style="display: none; padding: 0 0 0 20px;">
    <p>Of course!  Art, graphic design, images of jewelry or sculpture, pictures of text, you name it.  If
    you've got images, you can post them to a Qufoto site.  There are no restrictions on the type of content
    you can upload.
    </p>
</div>

<p style="margin: 40px 0 0 0;">Not satisfied?  <a href="/contact">Ask us a question</a>.</p>




