<center>
    <table cellpadding=0 cellspacing=0 class="featured-image eich">
    	<tr>
            <td align="center" valign="middle">
            	<a href="/william-castellana"><img src="/images/featured/william_castellana/01.jpg"></a>
            </td>
        </tr>
    </table>
    <a href="/william-castellana"><img class="name" src="/images/featured/william_castellana/featured.png" /></a>
    <p style="text-align: center;"><a href="/william-castellana">Read the interview ></a></p>
</center>

<hr style="margin-bottom: 30px;" />

<div class="featurelet">
	<a href="/charles-pertwee"><img src="images/index/featured_photographer08.jpg" class="bordered" /></a>
	<p class="byline"><a href="/charles-pertwee">Charles Pertwee</a></p>
</div>

<div class="featurelet">
	<a href="/todd-weaver"><img src="images/index/featured_photographer07.png" class="bordered" /></a>
	<p class="byline"><a href="/todd-weaver">Todd Weaver</a></p>
</div>

<div class="featurelet">
	<a href="/benjamin-rasmussen"><img src="images/index/featured_photographer06.png" class="bordered" /></a>
	<p class="byline"><a href="/benjamin-rasmussen">Benjamin Rasmussen</a></p>
</div>

<div class="featurelet last">
	<a href="/charlie-mahoney"><img src="images/index/featured_photographer05.png" class="bordered" /></a>
	<p class="byline"><a href="/charlie-mahoney">Charlie Mahoney</a></p>
</div>

<div class="featurelet">
	<a href="/rich-joseph-facun"><img src="images/index/featured_photographer04.png" class="bordered" /></a>
	<p class="byline"><a href="/lacey-johnson">Rich-Joseph Facun</a></p>
</div>

<div class="featurelet">
	<a href="/ed-freeman"><img src="images/index/featured_photographer03.png" class="bordered" /></a>
	<p class="byline"><a href="/ed-freeman">Ed Freeman</a></p>
</div>

<div class="featurelet">
	<a href="/matt-eich"><img src="images/index/featured_photographer02.png" class="bordered" /></a>
	<p class="byline"><a href="/matt-eich">Matt Eich</a></p>
</div>

<div class="featurelet last">
	<a href="/lacey-johnson"><img src="images/index/featured_photographer01.png" class="bordered" /></a>
	<p class="byline"><a href="/lacey-johnson">Lacey Johnson</a></p>
</div>

<p class="italic" style="clear: both; padding-top: 35px; text-align: center;">More interviews coming once per month.</p>

<hr style="margin-bottom: 30px;" />

<div class="article">
	<p class="greyblue"><strong>You:</strong> What is the featured photographer project?</p>
	<p><strong>QF:</strong> The Featured Photographer Project is an attempt on our part to produce high-quality,
		nice-looking, and interesting interviews with and for the photographers who use our sites, who we feel are 
		doing excellent work.  We would like to feature a new photographer once per month.
	</p>
</div>










































