<%= render :partial => "help_navigation" %>

<h1>Getting started with a Qufoto website</h1>

<h4>What do I do first?</h4>

<p>
First, you must create at least one portfolio for your photos to be uploaded into.  Under the "Portfolios" tab, type
a name next to "Add Portfolio" and click "Add".  Try choosing a name that's descriptive of the work you will put
in that portfolio.
</p>

<p>
Now that a portfolio has been created, click the "Upload" tab.  The title and description (and 'rollover' field if you 
have a Pro account) for the image you're uploading are optional and don't need to be filled in.  This information can 
always be edited later.  Select a portfolio to upload the image to from the Portfolio drop-down menu.  Browse your 
computer for the JPG image you want to upload, hit Upload, and you will be shown a preview of the image that was just 
uploaded.  Rinse, repeat.
</p>

<h4>Ok, I've uploaded some photos.  How do I display my site?</h4>

<p>
Each individual portfolio has the ability to be hidden so that viewers cannot see it while you're editing its contents.
Hidden is the default state for all portfolios, so the first thing you must do is go to your "Portfolios" tab, and change
the Visibility to "Visible" for any portfolios that you wish to be displayed on your site.
</p>

<p>
Next, the website itself has to be turned on.  By default, it is set to "Down for maintenance" so that it is not viewable
while you are editing your work.  To make your website viewable, go to the "Layout" tab, and click "Up and running" under
"Website status."  That's it!  Visitors should now be able to view your website.
</p>

