<% @title = "Qufoto.com Interview with Lacey Johnson" %>

<center>
    <table cellpadding=0 cellspacing=0 class="featured-image square">
        <tr>
            <td align=center valign=middle>
                <script type="text/javascript">
                    var r = Math.floor (Math.random () * 5 + 1);
                    document.writeln ('<img id="u1" src="/images/featured/lacey_johnson/0' + r + '.jpg" />');
                </script>
            </td>
        </tr>
    </table>
    <img class="name" src="/images/featured/lacey_johnson/featured.png" />
    <table cellpadding=0 cellspacing=8 class="previews square">
        <tr>
            <td valign=middle>
                <img src="/images/featured/lacey_johnson/01_small.jpg" onclick="swap(1, 1, 'lacey_johnson')" />
            </td><td valign=middle>
                <img src="/images/featured/lacey_johnson/02_small.jpg" onclick="swap(1, 2, 'lacey_johnson')" />
            </td><td valign=middle>
                <img src="/images/featured/lacey_johnson/03_small.jpg" onclick="swap(1, 3, 'lacey_johnson')" />
            </td><td valign=middle>
                <img src="/images/featured/lacey_johnson/04_small.jpg" onclick="swap(1, 4, 'lacey_johnson')" />
            </td><td valign=middle>
                <img src="/images/featured/lacey_johnson/05_small.jpg" onclick="swap(1, 5, 'lacey_johnson')" />
            </td>
        </tr>
    </table>
    
    <div class="article">
        <p style="float: right;"><a id="fontsize" href="javascript:toggleFontSize()">+ Increase font size</a></p>
        <p class="greyblue"><strong>QF:</strong> Who are you?</p>
        <p><strong>LJ:</strong> Lacey Ann Johnson</p>
        <p class="greyblue"><strong>QF:</strong> Who <i>are</i> you?</p>
        <p><strong>LJ:</strong> I'm a young woman living in Los Angeles, trying my best to become a "successful photographer" (whatever that means).</p>
        <p class="greyblue"><strong>QF:</strong> Why are you a photographer?</p>
        <p><strong>LJ:</strong> I like seeing new things, exploring, meeting new people,
		approaching people that I wouldn't have a reason to speak to without
		the excuse of the camera around my neck, and I love the lifestyle. I
		hate repetition, and when you're a photographer, you rarely ever find
		yourself shooting the same thing twice. Every day it's something new,
		a new person or a new location.</p>
        <p class="greyblue"><strong>QF:</strong> Where have you been, and where are you going?</p>
        <p><strong>LJ:</strong> I have shot projects in rural West Virginia, upstate New York,
		Brazil, Guatemala, Sweden, Catalina Island... and my next trip is
		going to be Thailand.</p>
        <p class="greyblue"><strong>QF:</strong> What have been some interesting situations you've found yourself in 
            while photographing?</p>
        <p><strong>LJ:</strong> Shooting on the front of a dog sled at the north pole was a pretty
		wild experience. It was -35° Celsius, and I ended up with a mild case
		of frostbite from trying to change a roll of 120 film.
            </p><p>
            Shooting on board a local fishing boat in Brazil was pretty
		unforgettable, and so was shooting in the slums of Rio De Janiero.
		I've even found myself taking part in a witches' circle during a
		ritual, when I documented witchcraft outside Rochester, New York.
            </p><p>
            One of my favorite experiences was living for a week with a coffee
		bean farmer in the jungle in Guatemala. I got to carry my own machete
		and hike into the hills with him to fertilize coffee trees. I'm
		planning a trip to Thailand this winter with a group of climbers,
		which will undoubtedly be an adventure as well.</p>
        <p class="greyblue"><strong>QF:</strong> You mentioned earlier that one of the things you enjoy about being a 
            photographer is constantly meeting new people.  Can you tell me about any of the interesting
            characters you've met or relationships you've developed as a direct result of being a 
            photojournalist?</p>
        <p><strong>LJ:</strong> Sure. One of my favorite characters was a man named Windy McClung,
		who lived in the woods outside of Spencer, West Virginia. He had a
		ridiculously long extension cord running through the forest to give
		his house electricity. He liked to call himself a "mountain man" and
		he spent a lot of his time building hand-made shotguns. He was missing
		a leg and two fingertips, and oddly enough, he kept is severed
		fingertips in little glass jars in the kitchen, as a keepsake. He was
		really friendly, and probably the most eccentric person I've ever
		photographed.
            </p><p>
            I also did a project about what it's like to be a teenager on Catalina
		Island. It was really difficult to get myself into this very
		close-knit circle of kids, who had known each other all their lives.
		It took about 6 weeks, but one group of teenagers sort of adopted me,
		as if I was sixteen, instead of 23. Even though I left the island over
		a year ago, I still keep in touch with some of the kids. A few of the
		older ones have even been to stay with me here in LA.</p>
    </div>
    
    <table cellpadding=0 cellspacing=0 class="featured-image wide">
        <tr>
            <td align=center valign=middle>
                <script type="text/javascript">
                    var r = Math.floor (Math.random () * 5 + 6);
                    if (r < 10) r = '0' + r;
                    document.writeln ('<img id="u2" src="/images/featured/lacey_johnson/' + r + '.jpg" />');
                </script>
            </td>
        </tr>
    </table>
    <table cellpadding=0 cellspacing=8 class="previews wide">
        <tr>
            <td valign=middle>
                <img src="/images/featured/lacey_johnson/06_small.jpg" onclick="swap(2, 6, 'lacey_johnson')" />
            </td><td valign=middle>
                <img src="/images/featured/lacey_johnson/07_small.jpg" onclick="swap(2, 7, 'lacey_johnson')" />
            </td><td valign=middle>
                <img src="/images/featured/lacey_johnson/08_small.jpg" onclick="swap(2, 8, 'lacey_johnson')" />
            </td><td valign=middle>
                <img src="/images/featured/lacey_johnson/09_small.jpg" onclick="swap(2, 9, 'lacey_johnson')" />
            </td><td valign=middle>
                <img src="/images/featured/lacey_johnson/10_small.jpg" onclick="swap(2, 10, 'lacey_johnson')" />
            </td>
        </tr>
    </table>
        
    <div class="article">    
        <p class="greyblue"><strong>QF:</strong> Do you think there's anything about your style of photography that 
            separates it or makes it stand out from much of the photography taken today?</p>
        <p><strong>LJ:</strong> I do. I feel like a lot of today's popular photography has an
		ultra-sleek, digitally enhanced quality, which almost borders on
		illustration. With current trends in complex lighting and Photoshop
		techniques, many photographs don't even look like photographs anymore.
            </p><p>
            I like to stick to mostly natural light with minimal posing. Since I'm
		shooting real people and not models, it's important to me to keep my
		portraits looking as genuine as possible. Capturing unguarded moments
		and conveying a sense of honesty in my work is important to me.
            </p>
        <p class="greyblue"><strong>QF:</strong> What other individuals do you respect in photjournalism
            today, and why do they get your appreciation?</p>
        <p><strong>LJ:</strong> I have a lot of respect for Jonathan Moller, who has spent a lot
		of time shooting the aftermath of the civil war in Guatemala. I feel
		like many photojournalists go to shoot in war torn countries for the
		thrill and the possibility of more dramatic pictures, but Moller is a
		photographer who is truly invested in what he's shooting. He's spent
		over seven years living in Central America, and is actively using his
		photos to promote social awareness by working with writers and human
		rights groups. That's something I can really admire.
            </p><p>
            I also love Corey Arnold. He mixes documentary and fine art in a way
		that I find really beautiful. I could sit and look at his website all
		day long.</p>
        <p class="greyblue"><strong>QF:</strong> Tell me something you'd like our readers to know, that I
            didn't ask you about.</p>
        <p><strong>LJ:</strong> For other young photographers just starting out, the best advice I
		can give is to pursue your own personal projects. When you're really
		passionate about what you're shooting, it's going to come through in
		your work, and people will take notice.</p>
        <img src="/images/featured/lacey_johnson/photographer.jpg" style="margin: 20px 0; border: 7px solid #222;" />
        <p class="italic" style="width: 465px;">
            Lacey Ann Johnson is a freelance photographer specializing in documentary-style portraits and photo stories.  She graduated from the Rochester Institute of Technology with a bachelor's degree in photojournalism in 2007.  She is based out of Los Angeles, California, but shoots around the world.  She enjoys sailing, reading, and miso soup.
        </p>
    </div>
    
</center>

<p style="text-align: center;"><a href="http://laceyannphotography.com">See more of Lacey's work or contact her ></a></p>

<hr style="clear: both;">

<p class="darkgrey italic">Images &copy; Lacey Ann Johnson, 2008<br>Article &copy; Qufoto.com, 2008</p>
<p style="text-align: center;"><a href="/featured">< Back to Featured Photographers</a></p>

