<% @title = "Qufoto.com Interview with Matt Eich" %>

<center>
    <table cellpadding=0 cellspacing=0 class="featured-image eich">
        <tr>
            <td align=center valign=middle>
                <script type="text/javascript">
                    var r = Math.floor (Math.random () * 5 + 1);
                    document.writeln ('<img id="u1" src="/images/featured/matt_eich/0' + r + '.jpg" />');
                </script>
            </td>
        </tr>
    </table>
    <img class="name" src="/images/featured/matt_eich/featured.png" />
    <table cellpadding=0 cellspacing=8 class="previews eich">
        <tr>
            <td valign=middle>
                <img src="/images/featured/matt_eich/01_small.jpg" onclick="swap(1, 1, 'matt_eich')" />
            </td><td valign=middle>
                <img src="/images/featured/matt_eich/02_small.jpg" onclick="swap(1, 2, 'matt_eich')" />
            </td><td valign=middle>
                <img src="/images/featured/matt_eich/03_small.jpg" onclick="swap(1, 3, 'matt_eich')" />
            </td><td valign=middle>
                <img src="/images/featured/matt_eich/04_small.jpg" onclick="swap(1, 4, 'matt_eich')" />
            </td><td valign=middle>
                <img src="/images/featured/matt_eich/05_small.jpg" onclick="swap(1, 5, 'matt_eich')" />
            </td>
        </tr>
    </table>
    
    <div class="article">
        <p style="float: right;"><a id="fontsize" href="javascript:toggleFontSize()">+ Increase font size</a></p>
        
        <p class="greyblue"><strong>QF:</strong> Hey Matt.  Let's start with an easy one.  Where are you based?</p>
        <p><strong>ME:</strong> Currently living in Ohio but working wherever the wind takes me. </p>
        
        <p class="greyblue"><strong>QF:</strong> Why are you a photographer?</p>
        <p><strong>ME:</strong> You mean there are other jobs out there?</p>
        
        <p class="greyblue"><strong>QF:</strong> How long have you been signed on with Aurora Select?  What have you found to be positive and negative about working with an agency?</p>
        <p><strong>ME:</strong> I started working with Aurora Photos at the beginning of the year and we all kind of felt one another out for a bit before I signed with Select recently. Working with the assignments rep, David Laidler, is great - he's a savvy guy who doesn't mess around. I'm not naturally a hustler or a businessman, so having a rep allows me to learn from their experience by proxy and also takes some of that off my plate. </p>
        
        <p class="greyblue"><strong>QF:</strong> Could you share a bit of your experience shooting Hurricane Gustav for Newsweek?</p>
        <p><strong>ME:</strong> There are certain editors that always light up my day and Michelle Molloy at Newsweek is one of them. I had been toying with the idea of going but once I heard from her I knew I had to go. As for the coverage itself, like any news event it had its ups and downs. I was really happy that there wasn't more damage than there was and that New Orleans was spared the brunt of the storm. Gustav still took lives and destroyed homes but because New Orleans wasn't hit it wasn't looked at as a valid story anymore. I found that disheartening, but I guess its the way the news machine works. I met some really wonderful people down there, got to crash on friends couches, listened to a lot of good music and ate a lot of pop-tarts and gummy bears while waiting in lines stretching down the road for gasoline. </p>
        
        <p class="greyblue"><strong>QF:</strong> For someone still in their early twenties, you have had an amazingly successful photography career.  In your opinion, what are the most important factors that launched your career so rapidly?</p>
        <p><strong>ME:</strong> I'm not really sure I have a good answer to that question. I've been blessed to be surrounded by a group of really supportive friends, classmates and professionals who are always willing to offer advice or a fresh look at old pictures. I've also been fortunate enough to find editors who have been willing to take a chance on me. These hands on experiences have taught me a lot and the feedback you get can be invaluable. Beyond that, I just threw myself into photography headfirst and chased after projects I cared about. Everyone's path is different.</p>
            
        <p class="greyblue"><strong>QF:</strong> Do you think it's important for aspiring photographers to go through a university photography program?  How do you feel about the photojournalism program you attended at Ohio University?</p>
        <p><strong>ME:</strong> For me, attending the program at Ohio University was probably the single best decision I've ever made. The community of students here is really inspiring and constantly pushes me to grow. Each individual is coming at photography from a unique place, so going to photo school might not be the best thing for everyone; it just depends. Studying something like political science, sociology, history or anthropology can almost be more applicable to someone wanting to pursue a career in photography.</p>

		<p class="greyblue"><strong>QF:</strong> How did you gain access to your subjects in your projects "Carry Me Ohio" and "A Silent Bond"?</p>
        <p><strong>ME:</strong> "Carry Me Ohio" grew out of a couple stories I did on families in the town of Chauncey, OH. "A Silent Bond" was the first of these. I met the father, Jesse, while driving around the town looking for folks to talk to. He was at a car wash with his sons, washing their dirt bikes. We struck up a conversation, he invited me back to their house so I hopped in the back of the truck and off we went. Upon arriving there he introduced me to his identical twin daughters, Kacey and Lacey, both of whom were born deaf. I was intrigued by the whole family, by their care and devotion to one another. I made a few frames, came back later with prints, explained what I wanted to do and was basically told I could come and go whenever I wanted. The more time I spent with them, the more trust was built. I think a lot of their patience with me came from them wanting me to get a good grade in the classes I was shooting for. The story on the girls won some awards, none of which I told them about. A professor of mine knew the family outside of school and told them. The next time I came over they were so excited that their girls had helped me out like that. From that point they introduced me to friends and family as "the photographer that took those pictures of the girls that won those awards." I met some other families under equally random circumstances, mostly just striking up conversations with strangers, started working in other towns and then began trying to structure a narrative that touches on some of the issues faced by communities within the region. It is still a work in progress.</p>
        
        <p class="greyblue"><strong>QF:</strong> You have done a lot of shooting abroad.  Do you ever use a translator?</p>
        <p><strong>ME:</strong> Up until this summer I really had worked very little out of the country. Between June and August this year I did an internship with National Geographic that had me on 5 different continents during my stint there. I haven't ever had a designated translator but I usually met up with folks that were linked with the story in some way (researchers, etc.) and managed to hack my way through some Spanish while I was in Peru in June and Mexico the previous fall for the FADER.</p>
    </div>
    
    <table cellpadding=0 cellspacing=0 class="featured-image eich">
        <tr>
            <td align=center valign=middle>
                <script type="text/javascript">
                    var r = Math.floor (Math.random () * 5 + 6);
                    if (r < 10) r = '0' + r;
                    document.writeln ('<img id="u2" src="/images/featured/matt_eich/' + r + '.jpg" />');
                </script>
            </td>
        </tr>
    </table>
    <table cellpadding=0 cellspacing=8 class="previews eich">
        <tr>
            <td valign=middle>
                <img src="/images/featured/matt_eich/06_small.jpg" onclick="swap(2, 6, 'matt_eich')" />
            </td><td valign=middle>
                <img src="/images/featured/matt_eich/07_small.jpg" onclick="swap(2, 7, 'matt_eich')" />
            </td><td valign=middle>
                <img src="/images/featured/matt_eich/08_small.jpg" onclick="swap(2, 8, 'matt_eich')" />
            </td><td valign=middle>
                <img src="/images/featured/matt_eich/09_small.jpg" onclick="swap(2, 9, 'matt_eich')" />
            </td><td valign=middle>
                <img src="/images/featured/matt_eich/10_small.jpg" onclick="swap(2, 10, 'matt_eich')" />
            </td>
        </tr>
    </table>
        
    <div class="article">    
        <p class="greyblue"><strong>QF:</strong> Have you ever found yourself in an especially dangerous situation while shooting?</p>
        <p><strong>ME:</strong> I can't say I have yet. There are always situations that could easily go sour and we photographers often like to tread that thin line more than we should. I've been lucky that nothing has hit the tipping point.</p>
        
        <p class="greyblue"><strong>QF:</strong> A lot of your imagery captures very intimate and seemingly unguarded moments.  Do you have any special techniques to make your subjects comfortable with you?</p>
        <p><strong>ME:</strong> Usually when I have a difficult time getting my subjects to go about their daily lives and ignore me, I try hypnotizing them. It has worked pretty well thus far.</p>
		<p>In all seriousness, when working on a project I really just try to be as open and honest with the subjects as I want them to be with me. I try to keep a low profile, talk little, listen much and spend as much time as possible with them. It is very much about relationship building, which is a two-way street.</p>
        
        <p class="greyblue"><strong>QF:</strong> In your recent work from Peru, you chose to display the images like dreams (choosing the Spanish word for dreams, sue&ntilde;os, to title the collection), and you technically gave the photos a hazy quality.  Could you explain why you made this decision and did you achieve the effect in camera or during post?</p>
        <p><strong>ME:</strong> The sue&ntilde;os series came from an early morning train ride from Cusco to Aguas Calientes and was the first trip of the summer. It was colder in Peru than I had expected and the windows of the train were covered in a thick beautiful fog for most of the ride. I had just turned 22 the day before and that early travel loneliness was setting in. Sometimes I'll make pictures just to document what I'm feeling, so I started shooting during the ride, not really thinking much about it, just trying to respond to things as they flashed by. Peru is one of the most beautiful places I've ever seen and the fog lent everything an ethereal look. The resulting images weren't altered in post.</p>
        
        <p class="greyblue"><strong>QF:</strong> Can you tell me about any of the interesting characters you've met or relationships you've developed as a direct result of being a photojournalist?</p>
        <p><strong>ME:</strong> Every day brings new interesting characters but certain people will always hold a special place. The Sellers family from the story, "A Silent Bond" has been really wonderful to allow me into their lives. Before I got married, my then-girlfriend Melissa and I would stop by their house to visit on occasion to hang out and catch up with them. When we got married the twins, Kacey and Lacey, were our flower girls at the ceremony. It made the wedding so much more fun. Friends of mine shot the wedding and gave the girls (then 5 years old) a couple cameras to use - 5Ds and 20Ds - and set them loose. At the end of the night I had hundreds of wonderful, whimsical photos of my wedding shot by these 5 year-old girls. I still love looking through their takes from time-to-time to see how they look at the world.</p>
        
        <p class="greyblue"><strong>QF:</strong> Do you think there is anything special about your style that separates you from the way most mainstream photojournalists are shooting today?</p>
        <p><strong>ME:</strong> I feel like I am still exploring and finding my voice in photography and I'm happy to not feel tied down to anything. The niche I've been working to carve has been less stylistic and more the subject matter I choose to shoot. Friends of mine will look at something (like the sue&ntilde;os series for example) and say, "this isn't your style." The wonderful thing about photography is that it is practically limitless in possibilities. I don't have to have a style, really. I can just make pictures for the love of it, be in the moment and figure the rest out later.</p>
        
        <p class="greyblue"><strong>QF:</strong> Do you currently have any big projects underway?</p>
        <p><strong>ME:</strong> The "Carry Me Ohio" work is an ongoing project that I'm hoping to make into a book eventually. I'm almost done with my undergrad degree here at OU and will continue working on it until I leave the area. Other than that, just trying to find something else to sink my teeth into that might take me somewhere new. </p>
        
        <p class="greyblue"><strong>QF:</strong> What other individuals do you respect in photojournalism today, and why do they get your appreciation?</p>
        <p><strong>ME:</strong> Lately I have been really taken in by Paul Fusco's and Larry Towell's work. I think what I admire about their photographs is that neither of them are shooting for themselves - they are shooting for something more. They have had stamina in their careers, not always running to keep up with this and that, but taking their time with things, thus making something that has a lasting quality to it. They aren't trying to fit a 24 hour news cycle, they are making pictures that comprise the fabric of our memories and our history. What a privilege that is. </p>
        
        <p class="greyblue"><strong>QF:</strong> What advice do you have for other young photographers getting started in the industry?</p>
        <p><strong>ME:</strong> We all hear now how it is crucial to diversify your skills and your clients but it is incredibly important to have a body of work that you care about that you can really dig in on and create a niche with. Find a subject you are passionate about - be it some global social issue or an interest that is entirely personal or aesthetically driven. People can tell when you make images you care about. Also, the earlier you start thinking of photography as a business and figuring out that side of it the better off you will be.</p>
        
        <p class="greyblue"><strong>QF:</strong> Is there anything else you'd like to share with us?</p>
        <p><strong>ME:</strong> When I was on my first newspaper internship in Orange County, CA I thought it would be funny to get the rule of thirds tattooed on my inner arm. I've never heard the end of it. In my defense it does also function for playing tic-tac-toe but it sucks to try to explain what my tattoo is of to someone who isn't a photo geek. </p>

        <img src="/images/featured/matt_eich/photographer.jpg" style="margin: 20px 0; border: 7px solid #222;" />
        <p class="italic" style="width: 465px;">
            Matt Eich (b. 1986) is a Midwest based freelance photographer and founding member of the AEVUM photo collective with a passion for social documentary storytelling.  He began working as a photographer while finishing a degree in photojournalism from Ohio University. His clients and publications include Newsweek, The FADER, The New York Times, TIME.com, MediaStorm.org, Photo District News, AARP, Grazia, American Photo, HotShoe, GEO, The Sunday (London) Times, Issue and others.  He has worked with The Orange County-Register, The Virginian-Pilot, The Oregonian, and National Geographic. 
        </p>
    </div>
    
</center>

<p style="text-align: center;"><a href="http://matteichphoto.com">See more of Matt's work or contact him ></a></p>

<hr style="clear: both;">

<p class="darkgrey italic">Images &copy; Matt Eich, 2008<br>Article &copy; Qufoto.com, 2008</p>
<p style="text-align: center;"><a href="/featured">< Back to Featured Photographers</a></p>


