<%= render :partial => "help_navigation" %>

<h1>How do I make a multimedia presentation?</h1>

<p>
Multimedia pieces are simply regular portfolios that advance in synchronization with an audio track, so the first thing
you must do is create a portfolio that contains the images which you want to be in your multimedia piece.  When you have
all of the images in one portfolio, go to 'Portfolios' and select 'Add audio to a portfolio' at the bottom, under
'Portfolio Options'.  Select the mp3 file you would like to upload (it must end in ".mp3") and the portfolio you would
like to attach it to, then click 'upload'.  Uploading may take a couple of minutes.
</p>

<p>
After your audio track has uploaded, you will see a little speaker icon and an X next to the portfolio that you just
attached the audio file to.  If you click the speaker, it will give you a preview of the audio track (it may take a moment
to buffer).  If you click the X, the audio track will be deleted.  In the multimedia column you will see an 'off/on' drop
down menu.  This allows you to switch this portfolio between a regular portfolio and a multimedia piece at any time.  To
synchronize your images with the track you uploaded, multimedia must be turned on for the portfolio, so select 'on'.
</p>

<p>
Now, go to 'Edit > Image order' and select the portfolio that you're editing.  In addition to being able to order the
images, you will now see that each image has a box underneath it showing its display time, and the total time at the
bottom of the screen next to a save button.  As you update each image's display time, you will notice the total time
at the bottom change also.  You should know the total time of the audio track for this portfolio so that you can
synchronize your images with it.  Once you've timed and ordered your images to your liking, hit save and that's it!
</p>