<h4>Prices</h4>
<p>
    Other website services charge extraordinary setup fees or have small feature to price
    ratios.  With Qufoto you pay one low monthly price with no setup fees, and get a free 
    domain name and the options you want.
</p>

<table cellspacing=8 style="width: 700px; margin-left: 20px;">
    <tr>
        <td style="font-size: 13px; font-weight: bold; border-bottom: 1px solid #333; width: 320px;">
            <span class="bee">Lite:</span> <span class="greyblue">$19/month</span>
        </td><td style="width: 20px;">
            &nbsp;
        </td><td style="font-size: 13px; font-weight: bold; border-bottom: 1px solid #333; width: 320px;">
            <span class="bee">Pro:</span> <span class="greyblue">$34/month</span>
        </td>
    </tr><tr>
        <td valign=top>
            Perfect for anyone with work to show.  Large images, unlimited portfolios,
            contact and resume tools, web statistics and more.
        </td><td>
            &nbsp;
        </td><td valign=top>
            Includes sound, multimedia, and rollover image tools.  Its great for 
            photojournalists or digital retouchers.
        </td>
    </tr><tr>
        <td colspan=3 style="text-align: center;">
            <a href="/examples">See examples</a>
        </td>
    </tr>
</table>

<h4>Package comparison</h4>
<p>It is possible to upgrade or downgrade at any time.  There are no add-ons and no
extra charges.</p>

<center>
    <table cellspacing=0 class="chart">
        <tr style="background: #181818;">
            <td style="padding-left: 10px;";>
                Cost
            </td><td class="bee" style="text-align: center;">
                Lite
            </td><td class="bee" style="text-align: center;">
                Pro
            </td>
        </tr><tr>
            <td>
                Price per month
            </td><td style="border-left: 1px solid #303030; text-align: center;">
                $19
            </td><td style="border-left: 1px solid #303030; text-align: center;">
                $34
            </td>
        </tr><tr>
            <td>
                Setup fee
            </td><td style="border-left: 1px solid #303030; text-align: center;">
                NONE
            </td><td style="border-left: 1px solid #303030; text-align: center;">
                NONE
            </td>
        </tr><tr>
            <td>
                Domain name
            </td><td style="border-left: 1px solid #303030; text-align: center;">
                FREE
            </td><td style="border-left: 1px solid #303030; text-align: center;">
                FREE
            </td>
        </tr><tr>
            <td colspan=3 class="subhead">
                Design
            </td>
        </tr><tr>
            <td>
                3 Customizable layouts
            </td><td style="border-left: 1px solid #303030;">
                <img src="images/bluedot.jpg">
            </td><td style="border-left: 1px solid #303030;">
                <img src="images/bluedot.jpg">
            </td>
        </tr><tr>
            <td>
                Customizable color scheme
            </td><td style="border-left: 1px solid #303030;">
                <img src="images/bluedot.jpg">
            </td><td style="border-left: 1px solid #303030;">
                <img src="images/bluedot.jpg">
            </td>
        </tr><tr>
            <td>
                Customizable image transitions
            </td></td><td style="border-left: 1px solid #303030;">
                <img src="images/bluedot.jpg">
            </td><td style="border-left: 1px solid #303030;">
                <img src="images/bluedot.jpg">
            </td>
        </tr><tr>
            <td>
                Auto hide, popout thumbnails
            </td></td><td style="border-left: 1px solid #303030;">
                <img src="images/bluedot.jpg">
            </td><td style="border-left: 1px solid #303030;">
                <img src="images/bluedot.jpg">
            </td>
        </tr><tr>
            <td>
                Banner image
            </td><td style="border-left: 1px solid #303030;">
                <img src="images/bluedot.jpg">
            </td><td style="border-left: 1px solid #303030;">
                <img src="images/bluedot.jpg">
            </td>
        </tr><tr>
            <td>
                Splash introduction page
            </td><td style="border-left: 1px solid #303030;">
                <img src="images/bluedot.jpg">
            </td><td style="border-left: 1px solid #303030;">
                <img src="images/bluedot.jpg">
            </td>
        </tr><tr>
            <td>
            	Biography and Contact pages
            </td><td style="border-left: 1px solid #303030;">
                <img src="images/bluedot.jpg">
            </td><td style="border-left: 1px solid #303030;">
                <img src="images/bluedot.jpg">
            </td>
        </tr><tr>
            <td>
                Ability to put site down for maintenance
            </td><td style="border-left: 1px solid #303030;">
                <img src="images/bluedot.jpg">
            </td><td style="border-left: 1px solid #303030;">
                <img src="images/bluedot.jpg">
            </td>
        </tr><tr>
            <td>
                Slideshow
            </td><td style="border-left: 1px solid #303030;">
                <img src="images/bluedot.jpg">
            </td><td style="border-left: 1px solid #303030;">
                <img src="images/bluedot.jpg">
            </td>
        </tr><tr>
            <td>
                Additional links in menu
            </td><td style="border-left: 1px solid #303030;">
                <img src="images/bluedot.jpg">
            </td><td style="border-left: 1px solid #303030;">
                <img src="images/bluedot.jpg">
            </td>
        </tr><tr>
            <td>
                Multimedia Presentations
            </td><td style="border-left: 1px solid #303030;">
                &nbsp;
            </td><td style="border-left: 1px solid #303030;">
                <img src="images/bluedot.jpg">
            </td>
        </tr><tr>
            <td>
                Rollover Images
            </td><td style="border-left: 1px solid #303030;">
                &nbsp;
            </td><td style="border-left: 1px solid #303030;">
                <img src="images/bluedot.jpg">
            </td>
        </tr><tr>
            <td>
                Audio/Music play
            </td><td style="border-left: 1px solid #303030;">
                &nbsp;
            </td><td style="border-left: 1px solid #303030;">
                <img src="images/bluedot.jpg">
            </td>
        </tr><tr>
            <td>
                Redirecting subdomains
            </td><td style="border-left: 1px solid #303030;">
                &nbsp;
            </td><td style="border-left: 1px solid #303030;">
                <img src="images/bluedot.jpg">
            </td>
        </tr><tr>
            <td>
                Qufoto link is optional
            </td><td style="border-left: 1px solid #303030;">
                &nbsp;
            </td><td style="border-left: 1px solid #303030;">
                <img src="images/bluedot.jpg">
            </td>
        </tr><tr>
            <td colspan=3 class="subhead">
                Features
            </td>
        </tr><tr>
            <td>
                Portfolios
            </td><td style="border-left: 1px solid #303030;">
                UNLIMITED
            </td><td style="border-left: 1px solid #303030;">
                UNLIMITED
            </td>
        </tr><tr>
            <td>
                Images per portfolio
            </td><td style="border-left: 1px solid #303030;">
                UNLIMITED
            </td><td style="border-left: 1px solid #303030;">
                UNLIMITED
            </td>
        </tr><tr>
            <td>
                Free domain name
            </td><td style="border-left: 1px solid #303030;">
                <img src="images/bluedot.jpg">
            </td><td style="border-left: 1px solid #303030;">
                <img src="images/bluedot.jpg">
            </td>
        </tr><tr>
            <td>
                Private galleries &mdash; <span class="new">New!</span>
            </td><td style="border-left: 1px solid #303030;">
                <img src="images/bluedot.jpg">
            </td><td style="border-left: 1px solid #303030;">
                <img src="images/bluedot.jpg">
            </td>
        </tr><tr>
            <td>
                Email addresses (unlimited)
            </td><td style="border-left: 1px solid #303030;">
                <img src="images/bluedot.jpg">
            </td><td style="border-left: 1px solid #303030;">
                <img src="images/bluedot.jpg">
            </td>
        </tr><tr>
            <td>
                Editable meta-data for SEO
            </td><td style="border-left: 1px solid #303030;">
                <img src="images/bluedot.jpg">
            </td><td style="border-left: 1px solid #303030;">
                <img src="images/bluedot.jpg">
            </td>
        </tr><tr>
            <td>
                PDF Resume
            </td><td style="border-left: 1px solid #303030;">
                <img src="images/bluedot.jpg">
            </td><td style="border-left: 1px solid #303030;">
                <img src="images/bluedot.jpg">
            </td>
        </tr><tr>
            <td>
                Customizable favicon
            </td><td style="border-left: 1px solid #303030;">
                <img src="images/bluedot.jpg">
            </td><td style="border-left: 1px solid #303030;">
                <img src="images/bluedot.jpg">
            </td>
        </tr><tr>
            <td>
                Google Analytics website statistics
            </td><td style="border-left: 1px solid #303030;">
                <img src="images/bluedot.jpg">
            </td><td style="border-left: 1px solid #303030;">
                <img src="images/bluedot.jpg">
            </td>
        </tr><tr>
            <td>
                Data transfer
            </td><td style="border-left: 1px solid #303030;">
                UNLIMITED
            </td><td style="border-left: 1px solid #303030;">
                UNLIMITED
            </td>
        </tr><tr>
            <td colspan=3 class="subhead">
                Editing controls
            </td>
        </tr><tr>
            <td>
                Update/edit content any time
            </td><td style="border-left: 1px solid #303030;">
                <img src="images/bluedot.jpg">
            </td><td style="border-left: 1px solid #303030;">
                <img src="images/bluedot.jpg">
            </td>
        </tr><tr>
            <td>
                Drag & drop image ordering
            </td><td style="border-left: 1px solid #303030;">
                <img src="images/bluedot.jpg">
            </td><td style="border-left: 1px solid #303030;">
                <img src="images/bluedot.jpg">
            </td>
        </tr>
    </table>
    <a href="/signup">Sign up now!</a>
</center>

    