<% @title = "Qufoto.com Interview with Rich-Joseph Facun" %>

<center>
    <table cellpadding=0 cellspacing=0 class="featured-image eich">
        <tr>
            <td align=center valign=middle>
                <script type="text/javascript">
                    var r = Math.floor (Math.random () * 5 + 1);
                    document.writeln ('<img id="u1" src="/images/featured/rich_facun/0' + r + '.jpg" />');
                </script>
            </td>
        </tr>
    </table>
    <img class="name" src="/images/featured/rich_facun/featured.png" />
    <table cellpadding=0 cellspacing=8 class="previews eich">
        <tr>
            <td valign=middle>
                <img src="/images/featured/rich_facun/01_small.jpg" onclick="swap(1, 1, 'rich_facun')" />
            </td><td valign=middle>
                <img src="/images/featured/rich_facun/02_small.jpg" onclick="swap(1, 2, 'rich_facun')" />
            </td><td valign=middle>
                <img src="/images/featured/rich_facun/03_small.jpg" onclick="swap(1, 3, 'rich_facun')" />
            </td><td valign=middle>
                <img src="/images/featured/rich_facun/04_small.jpg" onclick="swap(1, 4, 'rich_facun')" />
            </td><td valign=middle>
                <img src="/images/featured/rich_facun/05_small.jpg" onclick="swap(1, 5, 'rich_facun')" />
            </td>
        </tr>
    </table>
    
    <div class="article">
        <p style="float: right;"><a id="fontsize" href="javascript:toggleFontSize()">+ Increase font size</a></p>
        
        <p class="greyblue"><strong>QF:</strong> Hey Rich.  Where are you based, and how did you end up there?</p>
        <p><strong>RJF:</strong> I'm based in Abu Dhabi, UAE. After a long look at the economy in the U.S. as well as the faltering newspaper industry I began to look for alternative options to sustain my career as a photographer. In June I was offered a staff position at the English language paper The National in Abu Dhabi and decided to take a chance and ride out the storm overseas. Additionally, I felt like the opportunity to live and work abroad would be a unique opportunity and experience. All of these factors made the decision to leave the States feasible.</p>
        
        <p class="greyblue"><strong>QF:</strong>  What inspired you to switch from studying philosophy and religious studies to studying photography?</p>
        <p><strong>RJF:</strong> My interest in philosophy stemmed from a passion to understand the human condition, existence, and the nature of truth as it applied to myself and the world in general. Essentially, existentialism and metaphysics were of great interests to me.</p>
		<p>Midway through my coursework I enrolled in a photography class. I immediately discovered that subjects ranging from philosophy to sociology could be visually communicated. At that point, my experience with photography became both a fascinating form of communication and self-expression.</p>
        
        <p class="greyblue"><strong>QF:</strong> Much of your work is focused on people who are going after their dreams and the path of self-discovery.  How did this come to be a theme in your work?  Was it a conscious decision, or something that simply began to evolve over time?</p>
        <p><strong>RJF:</strong> Initially, the intentions of my work were not driven by any one specific theme. Eventually, I began to see a constant repetition in my work that revolved around those in pursuit of their dreams and a path of self-discovery. At that point, I became conscious and aware of the consistent patterns in my choice of subject matter. Today, I still seem to find myself shooting the same topics, just found in different people. It's not something that I purposely seek, I believe it is simply me telling my story through someone else's experiences and emotions.</p>
        
        <p class="greyblue"><strong>QF:</strong> How do you typically go about finding subjects when you're embarking on a new project?</p>
        <p><strong>RJF:</strong> I don't have one specific technique in finding new subjects or embarking on a new project. Sometimes subjects find me, sometimes we find each other, sometimes I'm satisfying a curiosity and sometimes I'm looking for a challenge, something to push myself visually. I think the bottom line is that there is usually some connection between myself and my subjects. On some intrinsic level we relate and that allows for a beautiful and unique relationship. It's very much like finding love.</p>
            
        <p class="greyblue"><strong>QF:</strong> Do you feel that your experience working as an assistant photo editor effected you at all as a photographer?</p>
        <p><strong>RJF:</strong> Most definitely, working as a photo editor educated me on the inner workings of the newsroom. I grew professionally on several different levels and developed my ability to articulate visual ideas to the word side of the newsroom. This skill would help me later when it came time to sell my own stories to my editors on both sides of the table. Additionally, working closely with other photographers and helping them develop attributed to my own growth as a photographer. Moreover, I learned from an editors perspective, what type of personalities were most pleasing to work with and the reasons why.</p>

		<p class="greyblue"><strong>QF:</strong> Can you tell us about any of the interesting characters you've met or relationships you've developed as a direct result of being a photojournalist?</p>
        <p><strong>RJF:</strong> There isn't one specific person or relationship that stands out above the others. I think each person I've worked with over an extended period of time have given me something of themselves and vice versa. That is the beauty of the job. Friendships are made and experiences happen that shape who I am today. I can only hope that I have returned the same gift to those individuals. I think I have.</p>
    </div>
    
    <table cellpadding=0 cellspacing=0 class="featured-image eich">
        <tr>
            <td align=center valign=middle>
                <script type="text/javascript">
                    var r = Math.floor (Math.random () * 5 + 6);
                    if (r < 10) r = '0' + r;
                    document.writeln ('<img id="u2" src="/images/featured/rich_facun/' + r + '.jpg" />');
                </script>
            </td>
        </tr>
    </table>
    <table cellpadding=0 cellspacing=8 class="previews eich">
        <tr>
            <td valign=middle>
                <img src="/images/featured/rich_facun/06_small.jpg" onclick="swap(2, 6, 'rich_facun')" />
            </td><td valign=middle>
                <img src="/images/featured/rich_facun/07_small.jpg" onclick="swap(2, 7, 'rich_facun')" />
            </td><td valign=middle>
                <img src="/images/featured/rich_facun/08_small.jpg" onclick="swap(2, 8, 'rich_facun')" />
            </td><td valign=middle>
                <img src="/images/featured/rich_facun/09_small.jpg" onclick="swap(2, 9, 'rich_facun')" />
            </td><td valign=middle>
                <img src="/images/featured/rich_facun/10_small.jpg" onclick="swap(2, 10, 'rich_facun')" />
            </td>
        </tr>
    </table>
        
    <div class="article">
        <p class="greyblue"><strong>QF:</strong> Have you ever found yourself in an especially dangerous situation while shooting?  If so, what happened?</p>
        <p><strong>RJF:</strong> No, not physically, just economically. We all know you won't get rich as a documentary photographer! That can be dangerous. I say this in jest - as I have been fortunate enough that I'm able to provide for my family and two cats.</p>
    
        <p class="greyblue"><strong>QF:</strong> How do you feel about working as a newspaper staff photographer as opposed to being a freelance photojournalist?  Which do you personally prefer, and why?</p>
        <p><strong>RJF:</strong> Working as a newspaper staff photographer has it's obvious benefits. Steady pay, paid vacations, health coverage, and so forth. More importantly it allows you to work with other talented photographers and enjoy the camaraderie of one another. You also have the opportunity to get out into the community and tell stories. Being a news photographer is like having an all access pass to the world. Being a freelance photojournalist is another story. I don't personally know anyone who is strictly a "freelance photojournalist." I certainly was not, I would have never generated enough income from photojournalism. I'm sure there are others who make their living from being strictly "freelance photojournalist," I just don't know any of them. When I was freelancing, I was down to shoot anything and everything ranging from architectural photography to weddings.  As long as there was a paycheck I was fine with it. I've never labeled myself as a photojournalist, I always saw myself as a photographer who happened to make his living as a photojournalist. Photography is my passion and I'm thankful for so many people having the faith and belief in my abilities that they are willing to pay me to produce images. In the end, I simply like making photographs that are engaging no matter who the audience or subject might be. In an ideal world, I would be a freelance photographer and author hired by high end clients willing to foot the bill in order for me to produce work that satisfied both my creative urges and the clients needs. I would have several staff members to do my accounting, take my calls, market my work, organize my scheduling, collect outstanding bills, and free my time up so all I had to do was shoot. So for now, I'll stick to being a photographer in a dying industry. When that's over, I think I'll work on my gardening skills.</p>
        
        <p class="greyblue"><strong>QF:</strong> Do you currently have any big projects underway?</p>
        <p><strong>RJF:</strong> Yes, I recently started a  project here in Abu Dhabi. It's tentatively entitled the "Cloak of Invisibility." I also finished shooting a book project "Rollin' Revival," which is a look at the resurgence of roller derby in the United States. The editing process has been put on hold, as the rest of my life has been too, due to my recent relocation to the United Arab Emirates. I'm aiming to have the final sequencing and copy block completed by the end of the first quarter of 2009.</p>
        
        <p class="greyblue"><strong>QF:</strong> What other individuals do you respect in photojournalism today, and why do they get your appreciation?</p>
        <p><strong>RJF:</strong> I admire and respect a lot of the work that is out there today. More often than not I'm inspired by several aspects of a photographers body of work. For example, off the top of my head, Carolyn Drake is putting out an amazing amount of work at an incredible pace. I admire her ability to produce both quality and quantity. I love Krisanne Johnson's fashion essays shot for The Fader Magazine as well as her overall approach in documenting cultural lifestyles, I've always been a fan of Trent Parke's street photography. Then there's Paolo Pellegrin's dark vision, Martin Parr's intellectual humor, and Alex Webb's ability to find the known in the unknown on the streets.</p>
        
        <p class="greyblue"><strong>QF:</strong> What advice do you have for other young photographers just getting started?</p>
        <p><strong>RJF:</strong> Remain curious, believe in yourself, work hard, trust your instinct, educate yourself in both academics and street knowledge, remind yourself that humility goes a long way, love your family, find a few good mentors, stay relevant, take calculated risk, expand your market - think globally and dream big. If all else fails rewind and start again.</p>
        
        <p class="greyblue"><strong>QF:</strong> Is there anything else you'd like to share with us?</p>
        <p><strong>RJF:</strong> Patience, passion and perseverance goes a long way in life and as a working photographer.</p>
        
        <img src="/images/featured/rich_facun/photographer.jpg" style="margin: 20px 0; border: 7px solid #222;" />
        <p class="italic" style="width: 465px;">
			Rich-Joseph Facun is a photographer based in Abu Dhabi, United Arab Emirates. He specializes in in-depth documentary projects that investigate the phenomena of personal independence, the pursuit of dreams and the discovery of self-identity. Originally a student of philosophy and religious studies, Facun shifted gears and studied photography at the School of Visual Communication at Ohio University, receiving his degree in 2001. 
		</p>
    </div>
    
</center>

<p style="text-align: center;"><a href="http://facun.com">See more of Rich-Joseph's work or contact him ></a></p>

<hr style="clear: both;">

<p class="darkgrey italic">Images &copy; Rich-Joseph Facun, 2008<br>Article &copy; Qufoto.com, 2008</p>
<p style="text-align: center;"><a href="/featured">< Back to Featured Photographers</a></p>

