<% @title = "Qufoto.com Interview with Todd Weaver" %>

<center>
    <table cellpadding=0 cellspacing=0 class="featured-image eich">
        <tr>
            <td align=center valign=middle>
                <script type="text/javascript">
                    var r = Math.floor (Math.random () * 5 + 1);
                    document.writeln ('<img id="u1" src="/images/featured/benjamin_rasmussen/0' + r + '.jpg" />');
                </script>
            </td>
        </tr>
    </table>
    <img class="name" src="/images/featured/benjamin_rasmussen/featured.png" />
    <table cellpadding=0 cellspacing=8 class="previews eich">
        <tr>
            <td valign=middle>
                <img src="/images/featured/benjamin_rasmussen/01_small.jpg" onclick="swap(1, 1, 'benjamin_rasmussen')" />
            </td><td valign=middle>
                <img src="/images/featured/benjamin_rasmussen/02_small.jpg" onclick="swap(1, 2, 'benjamin_rasmussen')" />
            </td><td valign=middle>
                <img src="/images/featured/benjamin_rasmussen/03_small.jpg" onclick="swap(1, 3, 'benjamin_rasmussen')" />
            </td><td valign=middle>
                <img src="/images/featured/benjamin_rasmussen/04_small.jpg" onclick="swap(1, 4, 'benjamin_rasmussen')" />
            </td><td valign=middle>
                <img src="/images/featured/benjamin_rasmussen/05_small.jpg" onclick="swap(1, 5, 'benjamin_rasmussen')" />
            </td>
        </tr>
    </table>
    
    <div class="article">
        <p style="float: right; margin: 0 0 0 40px;"><a id="fontsize" href="javascript:toggleFontSize()">+ Increase font size</a></p>
        
        <p class="greyblue"><strong>QF:</strong> Hey Todd.  What brought you to Los Angeles?</p>
        <p><strong>TW:</strong> I moved to LA to pursue a dream of becoming a cinematographer. I got as far as a lighting tech and electrician on music videos and commercials but wasn't enjoying it all that much, so I decided to pursue photography. The appeal of telling stories through a single image at a fraction of the cost of making movies was a no-brainer to me. </p>
        
        <p class="greyblue"><strong>QF:</strong> At first look, your work comes across as a mix of fine art, fashion, and editorial.  How do you personally define your shooting style?</p>
        <p><strong>TW:</strong> I think my style is a mixture of that photo journalistic or captured moments angle, along with with a loosely directed narrative that often evokes a sense of voyeurism. For a while, I approached all of my shoots by telling the subjects to look for that other presence in the world - that alien or spiritual other, or the unknown future, as if they were trying to make sense of the world by listening for something; a sense of searching. I like my pictures to have a sense of mystery.</p>
        
        <p class="greyblue"><strong>QF:</strong> Was there a eureka moment with your photography where you thought 'I'm onto something' or 'this feels really good to me'?</p>
        <p><strong>TW:</strong> One of my first jobs was shooting a burlesque calendar for the Shim Sham Club (now closed) in New Orleans. It was the first time that I had to artificially light something for an assignment, but it went really well. I somehow managed to juggle setting up the lights and directing the girls, and I had so much fun, it was here that I realized that I could do this for a living.</p>
        
        <p class="greyblue"><strong>QF:</strong> Can you tell us how you came up with the concept for your series "House Party"?</p>
        <p><strong>TW:</strong> The concept of "House Party" was created by my friend Ryan Heffington, an incredibly creative and talented choreographer in Los Angeles. All of the people in the photographs are dancers in one of his collectives. We were hanging out one night in my house and we started chatting about doing "space specific" dance performances, which led to talk of doing one in my house. Then Ryan started riffing about the idea of this cultish group of people living in a house together and having a mass suicide.  Hence the red ribbons on the necks and pearls on the spines of all the participants. So we put together a photo shoot and then 3 days later had, what we billed as, a house party. (This was the first time I fell in love with digital, being able to shoot images and then have them printed and framed in two days!) In the show, each photo was hung in the room of my house in which they were taken: 1, A repetitive, trance like looped dance by 8 people in the living room to a 20 minute long electronic dance song: the dancers clinging together in a writhing, constantly changing line.  2, Two people face down, nude in the bathroom with the hot water of the shower creating a steamy atmosphere. 3, Two dancers in my bedroom, performing an experimental dance piece.  4 and 5, two more nude girls face down in their perspective environments, one in the office, with Prodigy's "Smack by bitch up" on high volume, and another in the sun room. We had two showings, where about 35 people per, walked through the house/galleryand experienced the most unique photo show I have ever had.</p>
        
        <p class="greyblue"><strong>QF:</strong> Do you have any special techniques to make your subjects comfortable with you?</p>
        <p><strong>TW:</strong> I don't have any special techniques to make my subjects comfortable. Unless trying to engage in conversation is special (well, now a days....). I once met a headshot photographer who used a parrot to make her subjects smile. I haven't got to that point quite yet, but it's not a bad idea. I once tried a little spider monkey but he caused more trouble than laughs. (joking)</p>
        
        <p class="greyblue"><strong>QF:</strong> Where is the ideal place that you'd like to see your work published or displayed?</p>
        <p><strong>TW:</strong> I would love to see my work get into PDN. It's a yearly honor to be selected to their 30 Emerging Photographers Issue. I joke that I still have time to get in PDN's 50 under 50, but that jokes a little old now since they just call it 30, and it's not age specific anymore.  My biggest honor so far was getting into AP24.  I'd also love to shoot for W, GQ, The Fader, and NYTimes Mag. They all have really good taste in photography.</p>
	</div>
    
    <table cellpadding=0 cellspacing=0 class="featured-image eich">
        <tr>
            <td align=center valign=middle>
                <script type="text/javascript">
                    var r = Math.floor (Math.random () * 5 + 6);
                    if (r < 10) r = '0' + r;
                    document.writeln ('<img id="u2" src="/images/featured/benjamin_rasmussen/' + r + '.jpg" />');
                </script>
            </td>
        </tr>
    </table>
    <table cellpadding=0 cellspacing=8 class="previews eich">
        <tr>
            <td valign=middle>
                <img src="/images/featured/benjamin_rasmussen/06_small.jpg" onclick="swap(2, 6, 'benjamin_rasmussen')" />
            </td><td valign=middle>
                <img src="/images/featured/benjamin_rasmussen/07_small.jpg" onclick="swap(2, 7, 'benjamin_rasmussen')" />
            </td><td valign=middle>
                <img src="/images/featured/benjamin_rasmussen/08_small.jpg" onclick="swap(2, 8, 'benjamin_rasmussen')" />
            </td><td valign=middle>
                <img src="/images/featured/benjamin_rasmussen/09_small.jpg" onclick="swap(2, 9, 'benjamin_rasmussen')" />
            </td><td valign=middle>
                <img src="/images/featured/benjamin_rasmussen/10_small.jpg" onclick="swap(2, 10, 'benjamin_rasmussen')" />
            </td>
        </tr>
    </table>
        
    <div class="article">
    	<p class="greyblue"><strong>QF:</strong> How do you think the current economic crisis will (or will not) affect the photography industry?</p>
        <p><strong>TW:</strong> The economy is really killing the photography business.  Clients are cutting their budgets way back. A lot of potential new clients will be closed off to new photographers because they are probably taking less chances. The money is just not there at the moment. And even where it might be, I think companies are taking advantage of the economy to low ball people. What the current situation IS doing though, is inspiring people. Despite all the gloom and doom forecasts, there is a lot to be inspired and encouraged by. "Through chaos comes greatness".  It's an incredible and historic time, and I want to be out there shooting the environments of today and the effect it is having on our society.</p>	
	
    	<p class="greyblue"><strong>QF:</strong> Have you ever found yourself in an especially dangerous or horrible situation while shooting?</p>
        <p><strong>TW:</strong> Nothing so far.  Upper class Filipinos give a lot of warnings about parts of the city to stay away from, but people are much friendlier to me in the slums than in the building where I live.</p>
    	
    	<p class="greyblue"><strong>QF:</strong> Do you think it's important for aspiring photographers to go through a university photography program?  Why or why not?</p>
        <p><strong>TW:</strong> I think going to a university photo program is relative in it's importance. Relative to the quality of the university, the teachers, and their facilities. And relative to who immerses themselves into them.  There are people that shell out a hundred grand to go to an amazing art college and end up being assistants. I know people that went to the same school that are killing it: shooting huge ad jobs and working all the time. But, I also know self taught people with the same story. It really depends on how much talent the individual photographer has. So, I guess with that statement, going to school for photography can be incredibly rewarding, but it's not imperative to success. If you have rich parents that will pay for a great school, then do it. If you don't, and don't want to be saddled with an enormous debt, teach yourself. Buy a camera, some lights, a computer and a printer, go look at art, and teach yourself. You will probably have a style that's more of your own.</p>
    
        <p class="greyblue"><strong>QF:</strong> Were there any decisions you made along the way that you feel were key to your success as a photographer?</p>
        <p><strong>TW:</strong> Push your own agenda. If you don't want to get pigeon holed into one type of photography, then don't be afraid to turn down those types of assignments. Of course, in this economy, I would probably recommend taking anything that is thrown your way. I may be shooting bar mitzvahs and headshots before long...</p>
        
        <p class="greyblue"><strong>QF:</strong> What other individuals do you respect in photography today, and why do they get your appreciation?</p>
        <p><strong>TW:</strong> There are so many great photographers in the world today,  I guess if I was going to pick one that I really admire, it would have to be Nadav Kander. No matter how much success he has, it seems like he is always doing something new with his work.  Also, Phillip Lorca DiCorcia is always bringing great images back from wherever W sends him.</p>
        
        <p class="greyblue"><strong>QF:</strong>  What advice do you have for young photographers just getting started?</p>
        <p><strong>TW:</strong> My advice for young photographers: shoot, shoot, shoot. Oh, and maybe don't become a professional photographer unless you are absolutely in love with it. Because chances are you won't be making a ton of money off of it. If that's okay with you, then go for it, and keep shooting.  And then send out promo cards often. Enter a lot of photo contests too, anything to let people know that you are out there.</p>
        
        <img src="/images/featured/benjamin_rasmussen/photographer.jpg" style="margin: 20px 0; border: 7px solid #222;" />
        <p class="italic" style="width: 465px;">
			Benjamin Rasmussen is a freelance photographer based in Manila, Philippines, with a passion for social justice photography. He spent his childhood with an indigenous people group on an island in the southern Philippines, his university years with evangelicals in a small town in northern Arkansas, and the past year with the descendants of vikings in the Faroe Islands, a nation of 45,000 residents in the middle of the North Atlantic.
		</p>
		<p class="italic" style="width: 465px;">
			Currently in a city of 16 million, there are more people living on his block than resided in the past three places he lived combined. His blog can be found at <a href="http://copyandcutline.com">copyandcutline.com</a>.
		</p>
    </div>
    
</center>

<p style="text-align: center;"><a href="http://benjaminrasmussenphoto.com">See more of Ben's work or contact him ></a></p>

<hr style="clear: both;">

<p class="darkgrey italic">Images &copy; Benjamin Rasmussen, 2008<br>Article &copy; Qufoto.com, 2008</p>
<p style="text-align: center;"><a href="/featured">< Back to Featured Photographers</a></p>

