<% @title = "Qufoto.com Interview with William Castellana" %>

<center>
    <table cellpadding=0 cellspacing=0 class="featured-image eich">
        <tr>
            <td align=center valign=middle>
                <script type="text/javascript">
                    var r = Math.floor (Math.random () * 5 + 1);
                    document.writeln ('<img id="u1" src="/images/featured/william_castellana/0' + r + '.jpg" />');
                </script>
            </td>
        </tr>
    </table>
    <img class="name" src="/images/featured/william_castellana/featured.png" />
    <table cellpadding=0 cellspacing=8 class="previews eich">
        <tr>
            <td valign=middle>
                <img src="/images/featured/william_castellana/01_small.jpg" onclick="swap(1, 1, 'william_castellana')" />
            </td><td valign=middle>
                <img src="/images/featured/william_castellana/02_small.jpg" onclick="swap(1, 2, 'william_castellana')" />
            </td><td valign=middle>
                <img src="/images/featured/william_castellana/03_small.jpg" onclick="swap(1, 3, 'william_castellana')" />
            </td><td valign=middle>
                <img src="/images/featured/william_castellana/04_small.jpg" onclick="swap(1, 4, 'william_castellana')" />
            </td><td valign=middle>
                <img src="/images/featured/william_castellana/05_small.jpg" onclick="swap(1, 5, 'william_castellana')" />
            </td>
        </tr>
    </table>
    
    <div class="article">
        <p style="float: right; margin: 0 0 0 40px;"><a id="fontsize" href="javascript:toggleFontSize()">+ Increase font size</a></p>
        
        <p class="greyblue"><strong>QF:</strong> Hey William. Where are you based and how did you end up there?</p>
        <p><strong>WC:</strong> I'm based in Williamsburg, Brooklyn and have been here for twelve years. When I graduated from Purchase College, I decided to move to Williamsburg because of its lively art scene and its proximity to Manhattan. Back then Williamsburg was a great find rent-wise, but as people caught on and re-located here, rents started to skyrocket. </p>
        
        <p class="greyblue"><strong>QF:</strong> Do you think New York is a good city to live in as a working photographer today? </p>
        <p><strong>WC:</strong> Well, I'd say the majority of the market is in NYC and because of it there are probably more photographers in NYC than any other city.  This makes things all the more competitive, since there's only so much work out there. If you do fine art or stock photography and are fortunate enough to have representation, then I guess you could set up shop anywhere. It really all depends on the type of photography you're trying to market. But living and working in a big city has its advantages, since most of the major ad agencies and magazines are located there.</p>
        
        <p class="greyblue"><strong>QF:</strong> How did your career as a photographer get started?  What led you to shoot still lives?</p>
        <p><strong>WC:</strong> I became interested in photography when I was in college. Initially, I had matriculated into the liberal arts program at Purchase College and was on track to getting a degree in philosophy. I had no idea that photography would become my life's passion until I signed up for a black and white photo course. Photographs made by Josef Sudek, Alfred Stieglitz and Alvin Langdon Coburn had a great impact on me. This is probably why I favor making photographs that play on the lower tones of the photographic scale, especially in my black and white work. I seem to gravitate towards making still life imagery and this is in part due to three photographs I came across in the college library – Josef Sudek's "Window of My Studio", Tina Modotti's "Staircase", and Irving Penn's "Cigarette #17". I always find it interesting when I compare my personal and commercial photography, since they possess diametrically opposed points of view – the former being dark and moody and the latter bright and crisp. The only thing that seems to connect the two is their genre.</p>
        
        <p class="greyblue"><strong>QF:</strong>  Did you eventually change majors and earn a degree in Photography?</p>
        <p><strong>WC:</strong>  I did switch majors. So, I ended up on the six year plan instead of four.</p>
        
        <p class="greyblue"><strong>QF:</strong>  Do you think it's worthwhile for aspiring photographers to go through photo school?</p>
        <p><strong>WC:</strong> Everything you learn in photo school is valuable, but photography (like any of the arts) is a difficult business, so there are no guarantees.</p>
        
        <p class="greyblue"><strong>QF:</strong> It looks like you’re working with some amazing prop stylists.  Do you have a stylist you really enjoy working with?</p>
        <p><strong>WC:</strong> No stylists. I do everything myself.</p>

		<p class="greyblue"><strong>QF:</strong> Is it very common to do your own prop styling in the still life industry?</p>
        <p><strong>WC:</strong>  It's common on editorial shoots since budgets are tight, but if you're shooting for catalog or advertising then stylists are a necessity. It all depends on what the photograph needs to look like.</p>
		
        <p class="greyblue"><strong>QF:</strong> Where did the concept for your “Matchstick” series come from?</p>
        <p><strong>WC:</strong> A couple of years ago, Leo Burnett called in my book for a Marlboro cigarette campaign, and I guess after that I just continued to play with matchsticks. I really became attracted to the transformative qualities of the matchsticks from being burned to burnt-out.  It was a challenging project considering the randomness of the results. When I look at the series now I often think of Alberto Giacometti's sculptures.</p>
    </div>
    
    <table cellpadding=0 cellspacing=0 class="featured-image eich">
        <tr>
            <td align=center valign=middle>
                <script type="text/javascript">
                    var r = Math.floor (Math.random () * 5 + 6);
                    if (r < 10) r = '0' + r;
                    document.writeln ('<img id="u2" src="/images/featured/william_castellana/' + r + '.jpg" />');
                </script>
            </td>
        </tr>
    </table>
    <table cellpadding=0 cellspacing=8 class="previews eich">
        <tr>
            <td valign=middle>
                <img src="/images/featured/william_castellana/06_small.jpg" onclick="swap(2, 6, 'william_castellana')" />
            </td><td valign=middle>
                <img src="/images/featured/william_castellana/07_small.jpg" onclick="swap(2, 7, 'william_castellana')" />
            </td><td valign=middle>
                <img src="/images/featured/william_castellana/08_small.jpg" onclick="swap(2, 8, 'william_castellana')" />
            </td><td valign=middle>
                <img src="/images/featured/william_castellana/09_small.jpg" onclick="swap(2, 9, 'william_castellana')" />
            </td><td valign=middle>
                <img src="/images/featured/william_castellana/10_small.jpg" onclick="swap(2, 10, 'william_castellana')" />
            </td>
        </tr>
    </table>
        
    <div class="article">
    	<p class="greyblue"><strong>QF:</strong> What is your favorite lighting set up?  How many lights do you typically use?</p>
        <p><strong>WC:</strong> Less is more. I usually use one or two lights but will add a couple more if the main light isn't lighting the background. I don't have a favorite or standard lighting set-up, since every photographic concept calls for a different lighting approach.  </p>
		
        <p class="greyblue"><strong>QF:</strong> What has your experience been selling images through Gallery Stock?  What is your best selling stock image?</p>
        <p><strong>WC:</strong> I don't have a best selling image. But one of my black and white train images was recently licensed for the back of a book. </p>
        
        <p class="greyblue"><strong>QF:</strong> What other individuals do you respect in photography today, and why do they get your appreciation?</p>
        <p><strong>WC:</strong> I really enjoy Bela Borsodi's commercial work. His editorial photographs are so fresh and really take personification of inanimate objects to a new level. Lately, I've been interested in photographs with conceptual undertones such as Hiroshi Sugimoto's interior photographs of theaters and Abelardo Morell's camera obscura images.</p>
        
        <p class="greyblue"><strong>QF:</strong> Many of your product shots are extremely polished and almost look computer generated.  What kind of editing work is typically done on your commercial images?</p>
        <p><strong>WC:</strong> In the past I was really influenced by the possibility of digital enhancement, but now I try to keep things simple unless directed otherwise. All of the cosmetics pictures and ninety percent of the Fragrance / Accessories stuff is straight photography employing only basic retouching.  There's really only a handful of photographs on my site that have computer-generated elements. For example, the backgrounds in the Coke, Nike, Oakley, Gucci Rush and MP3 photographs were all created in Photoshop and then joined with the product. If you compare product imagery from today's ads to those from decades past, there is definitely the shift to hyper-real. When I do my personal work though, it's all straight photography.</p>
        
        <p class="greyblue"><strong>QF:</strong> Who does most of your retouching work?</p>
        <p><strong>WC:</strong>  I do.  I recently bid on a Siemens Electronics job for McCann-Erickson in Germany and the request was to create five ads from scratch using CGI. This is the sort of job I would have to collaborate on with other artists, since I personally don't do CGI except for creating special effects backgrounds.</p>
        
        <p class="greyblue"><strong>QF:</strong> Where did you learn your retouching skills?</p>
        <p><strong>WC:</strong> I am self-taught. The visual arts program at Purchase College focuses on image-making using traditional methods such as palladium-platinum, Kallitype, dye transfer, color and silver printing. It's a program geared towards the fine arts, so they really don't offer classes on digital post-production or studio lighting. It's actually pretty non-technical, but I believe it's more important to focus on developing the content than the technique. Once you have the idea in your head, the rest is a formality.</p>
    </div>
    
</center>

<p style="text-align: center;"><a href="http://williamcastellanaphoto.com">See more of William's work or contact him ></a></p>

<hr style="clear: both;">

<p class="darkgrey italic">Images &copy; William Castellana, 2010<br>Article &copy; Qufoto.com, 2010</p>
<p style="text-align: center;"><a href="/featured">< Back to Featured Photographers</a></p>

