<textarea id="js_text"><%= html_escape(current_user.info.analytics) %></textarea>

<input class="highlight" type="button" value="Save" style="float: right;" onclick="saveJavascript(); return false;"/>
