<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
    <head>
        <title>Down for Maintenance</title>
        <style type="text/css">
            html,
            body {
                margin: 0;
                padding: 0;
                font-family: verdana, arial, sans-serif;
            }
            a,
            a:link,
            a:visited {
            	color: #228AFF;
            	text-decoration: none;
                outline: none;
            }
            a:active,
            a:hover {
            	color: #228AFF;
            	text-decoration: underline;
            }
            div.alert {
                margin: 200px auto;
                padding-left: 120px;
                width: 400px;
                height: 120px;
                background: transparent url(/images/updates.png) 0 0 no-repeat;
            }
            div.alert p {
                margin: 0 0 10px;
                color: #666;
                font-size: 13px;
            }
            div.alert p.title {
                font-size: 18px;
                color: #222;
            }
        </style>
    </head>
    <body>
        <div class="alert">
            <p class="title">Updates are being made</p>
            <p>Don't worry, your website is still online and viewable.  You just can't make
            updates for a little bit.</p>
            <p>Service should return shortly. Thanks for your patience!</p>
            <p><a href="/update">Try again</a></p>
        </div>
    </body>
</html>