A new referred user has signed up at Qufoto.  Details:

First name: <%= @name %>
Email address: <%= @email %>
Subscription type: <%= @item_name %>

Please save this information for your records.

--
Qufoto.com auto emailer