<h1>Qufoto in the news</h1>
<p class="subtitle">To contact us about media/press questions, email <a href="mailto:service@okcupid.com">service@okcupid.com</a>.</p>

<ul class="press">
	<li><a href="http://www.web100.com/photo-100/professional-resources-and-tools/qufoto">Web 100's Photo 100</a>Web100.com</li>
	<li><a href="http://bigchase.wordpress.com/2008/03/08/qufoto/">Qufoto</a>The Big Chase</li>
	<li><a href="http://photos.davindhillon.com/blog/?p=13">Qufoto Websites</a>Davin's Blog</li>
</ul>