<div class="column_nav">
	<ul>
		<li class="first">Explore</li>
		<li><a href="/sitemap" class="selected">Sitemap</a></li>
		<li><a href="/features">Websites for Photographers</a></li>
		<li><a href="/interviews">Interviews</a></li>
		<li class="big break"></li>
    	<li class="first">Share this page</li>
		<li><a class="addthis_button_twitter"><span class="social twitter"></span>Tweet</a></li>
		<li><a class="addthis_button_stumbleupon"><span class="social stumbleupon"></span>Stumble</a></li>
		<li><a class="addthis_button_facebook"><span class="social facebook"></span>Share on Facebook</a></li>
		<li><a class="addthis_button_compact"><span class="social more"></span>More&hellip;</a></li>
		<li class="big break"></li>
    	<li class="first">Follow us</li>
		<li><a href="http://twitter.com/qufoto" target="_blank"><span class="social twitter"></span>On Twitter</a></li>
		<li><a href="http://feedburner.google.com/fb/a/mailverify?uri=qufoto-interviews&amp;loc=en_US" target="_blank"><span class="social email"></span>Email alerts</a></li>
		<li><a href="http://feeds.qufoto.com/qufoto-interviews" title="Qufoto Interviews RSS feed"><span class="social rss"></span>RSS</a></li>
		<li class="last"></li>
	</ul>
</div>

<div class="column_content">
	<h1>Sitemap</h1>
	<p class="subtitle">Here's the good stuff.  Check it out!</p>
	
	<h3>Websites for Photographers</h3>
	<ul>
		<li><a href="/features">Features</a></li>
		<li><a href="/examples">Examples</a></li>
		<li><a href="/prices">Prices</a></li>
		<li><a href="/signup">Signup</a></li>
	</ul>
	
	<h3>Interviews and News</h3>
	<ul>
		<li><a href="/interviews">Interviews</a></li>
		<li><a href="/news">News</a></li>
	</ul>
	
	<h3>FAQ and Help Documents</h3>
	<ul>
		<li><a class="selected" href="/faq">FAQ</a></li>
		<li><a href="/user_guide">User guide</a></li>
		<li><a href="/getting_started">Getting Started</a></li>
		<!--<li><a href="/customize">Customizing Your Site</a></li>-->
		<li><a href="/tips">Tips and Tricks</a></li>
		<li><a href="/domains">Domains</a></li>
		<li><a href="/email">Email Addresses</a></li>
		<li><a href="/analytics">Google Analytics</a></li>
		<li><a href="/seo">Search Engines</a></li>
		<li><a href="/referrals">Referral Program</a></li>
	</ul>
	
	<h3>Qufoto</h3>
	<ul>
		<li><a href="/about">About Us</a></li>
		<li><a href="/testimonials">Testimonials</a></li>
		<li><a href="/contact">Contact Us</a></li>
		<li><a href="/press">Press</a></li>
	</ul>
	
</div>