<html>
    <head>
        <title>Admin Center</title>
        <%= stylesheet_link_tag "admin" %>
        <script src="http://ajax.googleapis.com/ajax/libs/prototype/1.6.0.2/prototype.js" type="text/javascript"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/scriptaculous/1.8.1/scriptaculous.js" type="text/javascript"></script>
        <script src="/javascripts/application.js" type="text/javascript"></script>
    </head>
    <body>
        <div id="banner">
            <%= link_to image_tag("qufoto_admin.jpg"), "/admin" %>
        </div>
        <%# if !session[:user].nil? && session[:user].admin == true %>
        <% if logged_in? && current_user.admin? %>
            <div id="navigation">
                <a href="/admin/browse">Browse users</a><br/>
                <a href="/admin/add_user">Add user</a><br/>
                <a href="/admin/profit_report">Profit report</a><br/>
                <a href="/admin/activity">User activity</a><br/>
				<a href="/admin/interviews">Interviews</a><br/>
				<a href="/admin/examples">Examples</a><br/>
                <a href="/admin/controls">Controls</a><br/>
                <a href="/admin/stats">Stats + Data</a><br/>
                <a href="/admin/announce">Announce</a><br/>
                <a href="/admin/broadcast">Broadcast</a>
                <hr>
                <a href="/admin/process_logout">Logout</a>
            </div>
        <% end %>
        <div id="content">
            <%= @content_for_layout %>
        </div>
    </body>
</html>